# Data collection (returns)

In [4]:
import pandas as pd
import numpy as np
import os.path
import importlib
from sklearn.preprocessing import MinMaxScaler
from datetime import datetime
from dateutil.relativedelta import relativedelta

import utilities.variables as variables
import utilities.api_ticker_service as data_ticker_service
importlib.reload(data_ticker_service)
importlib.reload(variables)

### Reading file

In [5]:
df = pd.read_csv('../data/data_1_esg_raw.csv') 
df.head(5)

,company_name,ticker_symbol,company_esg_score,company_esg_score_group,industry
0,HENSOLDT AG,ETR:HAG,14.9,Low ESG Risk,Aerospace & Defense
1,Aptiv Plc,NYS:APTV,9.1,Negligible ESG Risk,Auto Components
2,"BorgWarner, Inc.",NYS:BWA,10.0,Negligible ESG Risk,Auto Components
3,Bosch Fren Sistemleri Sanayi ve Ticaret AS,IST:BFREN.E,8.1,Negligible ESG Risk,Auto Components
4,Bosch Ltd.,BOM:500530,6.5,Negligible ESG Risk,Auto Components

### Sort by ESG score

In [6]:
df_sorted = df.sort_values('company_esg_score')
df_sorted

,company_name,ticker_symbol,company_esg_score,company_esg_score_group,industry
4184,ROADIS Transportation Holding SLU,-,4.0,Negligible ESG Risk,Transportation Infrastructure
1018,JAB Holding Co. SARL,-,4.2,Negligible ESG Risk,Diversified Financials
2037,Dexus,ASX:DXS,4.2,Negligible ESG Risk,Real Estate
4180,Entidad Pública Empresarial ADIF-Alta Velocidad,-,4.3,Negligible ESG Risk,Transportation Infrastructure
3498,RS Group Plc,LON:RS1,4.5,Negligible ESG Risk,Technology Hardware
...,...,...,...,...,...
1428,International Finance Facility for Immunisatio...,-,20.0,Low ESG Risk,Healthcare
3843,Orange SA,PAR:ORA,20.0,Low ESG Risk,Telecommunication Services
4365,Promigas SA ESP,BOG:PROMIGAS,20.0,Low ESG Risk,Utilities
3950,Li & Fung Ltd.,-,20.0,Low ESG Risk,Textiles & Apparel
4333,EP Infrastructure as,-,20.0,Low ESG Risk,Utilities

In [7]:
len(df_sorted)

4386

### Group by industry and company-esg-score-group

In [8]:
# Group by the first and second columns and count the occurrences
df_grouped = df.groupby(['industry', 'company_esg_score_group']).size().reset_index(name='Count')
df_grouped = df_grouped.sort_values(by=['industry', 'company_esg_score_group'], ascending=[True, False])
df_grouped

                         industry company_esg_score_group  Count
0             Aerospace & Defense            Low ESG Risk      1
2                 Auto Components     Negligible ESG Risk     12
1                 Auto Components            Low ESG Risk    105
3                     Automobiles            Low ESG Risk     22
5                           Banks     Negligible ESG Risk     43
..                            ...                     ...    ...
63                 Transportation            Low ESG Risk    107
65  Transportation Infrastructure     Negligible ESG Risk     21
64  Transportation Infrastructure            Low ESG Risk     92
67                      Utilities     Negligible ESG Risk     11
66                      Utilities            Low ESG Risk     94

[68 rows x 3 columns]

### Remove stocks without a valid stock exchange

In [9]:
len(df_sorted[df_sorted['ticker_symbol'] != '-'])

3801

In [10]:
df_sorted[df_sorted['ticker_symbol'] != '-']

,company_name,ticker_symbol,company_esg_score,company_esg_score_group,industry
2037,Dexus,ASX:DXS,4.2,Negligible ESG Risk,Real Estate
3498,RS Group Plc,LON:RS1,4.5,Negligible ESG Risk,Technology Hardware
3486,"Kimball Electronics, Inc.",NAS:KE,4.5,Negligible ESG Risk,Technology Hardware
2100,TAG Immobilien AG,ETR:TEG,4.6,Negligible ESG Risk,Real Estate
2105,Unibail-Rodamco-Westfield SE,PAR:URW,4.7,Negligible ESG Risk,Real Estate
...,...,...,...,...,...
1140,Nippon Life India Asset Management Ltd.,BOM:540767,20.0,Low ESG Risk,Diversified Financials
3850,"Taiwan Mobile Co., Ltd.",TAI:3045,20.0,Low ESG Risk,Telecommunication Services
4160,Union Pacific Corp.,NYS:UNP,20.0,Low ESG Risk,Transportation
3843,Orange SA,PAR:ORA,20.0,Low ESG Risk,Telecommunication Services
4365,Promigas SA ESP,BOG:PROMIGAS,20.0,Low ESG Risk,Utilities

### Create new columns "stock_exchange" & "stock_ticker_symbol"

In [11]:
# Create new column stock_exchange by splitting ticker_symbol
df_sorted['stock_exchange'] = df_sorted['ticker_symbol'].str.split(':').str[0]

In [12]:
# Create new column stock_ticker_symbol by splitting ticker_symbol
df_sorted['stock_ticker_symbol'] = df_sorted['ticker_symbol'].str.split(':').str[1]

In [13]:
df_sorted[df_sorted['ticker_symbol'] != '-']['stock_exchange'].value_counts('')

NYS    551
NAS    408
TKS    372
LON    226
TAI    183
      ...
LIM      1
LIT      1
BRA      1
FRA      1
BER      1
Name: stock_exchange, Length: 62, dtype: int64

## Selected Stock-Exchanges

In [14]:
len(df_sorted)

4386

### Filter Stock Exchanges

In [15]:
# drop existing column "stock_ticker_symbol"
df_sorted = df_sorted.drop(columns=['ticker_symbol'])

In [16]:
# Filter by a single column value 
df_filtered = df_sorted[df_sorted['stock_exchange'].isin(['NYS', 'NAS', 'TKS', 'LON', 'ETR'])]
len(df_filtered)

1662

In [17]:
df_filtered

,company_name,company_esg_score,company_esg_score_group,industry,stock_exchange,stock_ticker_symbol
3498,RS Group Plc,4.5,Negligible ESG Risk,Technology Hardware,LON,RS1
3486,"Kimball Electronics, Inc.",4.5,Negligible ESG Risk,Technology Hardware,NAS,KE
2100,TAG Immobilien AG,4.6,Negligible ESG Risk,Real Estate,ETR,TEG
2068,LEG Immobilien SE,5.1,Negligible ESG Risk,Real Estate,ETR,LEG
521,"Steelcase, Inc.",5.3,Negligible ESG Risk,Commercial Services,NYS,SCS
...,...,...,...,...,...,...
3676,"KVH Industries, Inc. (Delaware)",20.0,Low ESG Risk,Technology Hardware,NAS,KVHI
2905,Moonpig Group Plc,20.0,Low ESG Risk,Retailing,LON,MOON
1963,"NeoGenomics, Inc.",20.0,Low ESG Risk,Pharmaceuticals,NAS,NEO
3057,"Japan Material Co., Ltd.",20.0,Low ESG Risk,Semiconductors,TKS,6055
4160,Union Pacific Corp.,20.0,Low ESG Risk,Transportation,NYS,UNP

#### Group by industry and company-esg-score-group

In [18]:
# Group by the first and second columns and count the occurrences
df_filtered_grouped = df_filtered.groupby(['industry', 'company_esg_score_group']).size().reset_index(name='Count')
df_filtered_grouped = df_filtered_grouped.sort_values(by=['industry', 'company_esg_score_group'], ascending=[True, False])
df_filtered_grouped

                         industry company_esg_score_group  Count
0             Aerospace & Defense            Low ESG Risk      1
2                 Auto Components     Negligible ESG Risk      5
1                 Auto Components            Low ESG Risk     45
3                     Automobiles            Low ESG Risk      4
5                           Banks     Negligible ESG Risk      1
4                           Banks            Low ESG Risk     15
6               Building Products            Low ESG Risk     13
7                       Chemicals            Low ESG Risk     11
9             Commercial Services     Negligible ESG Risk     32
8             Commercial Services            Low ESG Risk     83
10         Construction Materials            Low ESG Risk      1
12              Consumer Durables     Negligible ESG Risk      3
11              Consumer Durables            Low ESG Risk     55
14              Consumer Services     Negligible ESG Risk      1
13              Consumer Services            Low ESG Risk     34
16         Containers & Packaging     Negligible ESG Risk      3
15         Containers & Packaging            Low ESG Risk     15
18         Diversified Financials     Negligible ESG Risk      3
17         Diversified Financials            Low ESG Risk     49
19             Diversified Metals            Low ESG Risk      1
20           Electrical Equipment            Low ESG Risk     16
21                Energy Services            Low ESG Risk      6
22                  Food Products            Low ESG Risk      6
23                 Food Retailers            Low ESG Risk     25
25                     Healthcare     Negligible ESG Risk      1
24                     Healthcare            Low ESG Risk     72
27                   Homebuilders     Negligible ESG Risk      1
26                   Homebuilders            Low ESG Risk     20
28             Household Products            Low ESG Risk      2
29                      Insurance            Low ESG Risk     25
30                      Machinery            Low ESG Risk     24
32                          Media     Negligible ESG Risk      8
31                          Media            Low ESG Risk     80
33            Oil & Gas Producers     Negligible ESG Risk      1
34               Paper & Forestry            Low ESG Risk      4
35                Pharmaceuticals            Low ESG Risk     44
36                Precious Metals     Negligible ESG Risk      1
38                    Real Estate     Negligible ESG Risk     36
37                    Real Estate            Low ESG Risk    236
39           Refiners & Pipelines            Low ESG Risk      2
41                      Retailing     Negligible ESG Risk      5
40                      Retailing            Low ESG Risk    150
42                 Semiconductors            Low ESG Risk     48
44            Software & Services     Negligible ESG Risk      2
43            Software & Services            Low ESG Risk    179
46            Technology Hardware     Negligible ESG Risk     32
45            Technology Hardware            Low ESG Risk    131
47     Telecommunication Services            Low ESG Risk      9
49             Textiles & Apparel     Negligible ESG Risk      2
48             Textiles & Apparel            Low ESG Risk     36
50         Traders & Distributors            Low ESG Risk     23
51                 Transportation            Low ESG Risk     37
52  Transportation Infrastructure            Low ESG Risk      4
54                      Utilities     Negligible ESG Risk      2
53                      Utilities            Low ESG Risk     17

In [19]:
df_filtered.to_csv('../data/data_2_esg_filtered.csv')

### Adding market capital of companies

In [20]:
if 'df_market_cap' not in locals():
    df_market_cap = pd.read_csv('../data/data_2_esg_filtered.csv')
df_market_cap

,Unnamed: 0,company_name,company_esg_score,company_esg_score_group,industry,stock_exchange,stock_ticker_symbol
0,3498,RS Group Plc,4.5,Negligible ESG Risk,Technology Hardware,LON,RS1
1,3486,"Kimball Electronics, Inc.",4.5,Negligible ESG Risk,Technology Hardware,NAS,KE
2,2100,TAG Immobilien AG,4.6,Negligible ESG Risk,Real Estate,ETR,TEG
3,2068,LEG Immobilien SE,5.1,Negligible ESG Risk,Real Estate,ETR,LEG
4,521,"Steelcase, Inc.",5.3,Negligible ESG Risk,Commercial Services,NYS,SCS
...,...,...,...,...,...,...,...
1657,3676,"KVH Industries, Inc. (Delaware)",20.0,Low ESG Risk,Technology Hardware,NAS,KVHI
1658,2905,Moonpig Group Plc,20.0,Low ESG Risk,Retailing,LON,MOON
1659,1963,"NeoGenomics, Inc.",20.0,Low ESG Risk,Pharmaceuticals,NAS,NEO
1660,3057,"Japan Material Co., Ltd.",20.0,Low ESG Risk,Semiconductors,TKS,6055
1661,4160,Union Pacific Corp.,20.0,Low ESG Risk,Transportation,NYS,UNP

#### Updating `stock_ticker_symbol` for Frankfurt and London
Frankfurt & London tickers require a postfix '.DE' & '.L' respectively for Yahoo API to recognize them.

In [21]:
# Postfix to add
frankfurt_postfix = '.DE'
london_postfix = '.L'
tokyo_postfix = '.T'

# Condition: Add postfix '.DE' to 'stock_exchange' column if the 'stock_ticker_symbol' column is 'ETR' (Frankfurt)
df_market_cap['stock_ticker_symbol'] = np.where((df_market_cap['stock_exchange'] == 'ETR'), df_market_cap['stock_ticker_symbol'] + frankfurt_postfix, df_market_cap['stock_ticker_symbol'])

# Condition: Add postfix '.L' to 'stock_exchange' column if the 'stock_ticker_symbol' column is 'Lon' (London)
df_market_cap['stock_ticker_symbol'] = np.where((df_market_cap['stock_exchange'] == 'LON'), df_market_cap['stock_ticker_symbol'] + london_postfix, df_market_cap['stock_ticker_symbol'])

# Condition: Add postfix '.T' to 'stock_exchange' column if the 'stock_ticker_symbol' column is 'TKS' (Tokyo)
df_market_cap['stock_ticker_symbol'] = np.where((df_market_cap['stock_exchange'] == 'TKS'), df_market_cap['stock_ticker_symbol'] + tokyo_postfix, df_market_cap['stock_ticker_symbol'])

In [22]:
df_market_cap[['stock_exchange', 'stock_ticker_symbol']]

     stock_exchange stock_ticker_symbol
0               LON               RS1.L
1               NAS                  KE
2               ETR              TEG.DE
3               ETR              LEG.DE
4               NYS                 SCS
...             ...                 ...
1657            NAS                KVHI
1658            LON              MOON.L
1659            NAS                 NEO
1660            TKS              6055.T
1661            NYS                 UNP

[1662 rows x 2 columns]

## Fetch Market-Capital

In [31]:
# Fetch market cap in batches of 50 with a 3-second delay between batches
if os.path.isfile('../data/data_3_market_caps.csv'):
    df_market_caps = data_ticker_service.fetch_market_cap(df_market_cap['stock_ticker_symbol'], batch_size=50, delay=3)

df_market_caps

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/TRTN.PRE?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=TRTN.PRE&crumb=Au8nxETrnR0
404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/BT.A.L?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=BT.A.L&crumb=Au8nxETrnR0

,stock_ticker_symbol,market_capital,trailing_pe,beta,return_on_equity,earnings_growth
0,RS1.L,3668790784,19.858974,0.863,0.13226,-0.368
1,KE,428135136,21.370369,1.258,0.03854,N/A
2,TEG.DE,2765612288,N/A,1.037,-0.03766,N/A
3,LEG.DE,6927171072,N/A,0.957,-0.08126,N/A
4,SCS,1492859648,17.210526,1.314,0.10633,8.0
...,...,...,...,...,...,...
1657,KVHI,91276288,N/A,0.594,-0.14536,N/A
1658,MOON.L,701879680,2035.0,1.238,N/A,-0.072
1659,NEO,1940312192,N/A,1.191,-0.08391,N/A
1660,6055.T,170442342400,27.933996,0.585,0.13585,0.379
1661,UNP,152975720448,23.622766,1.053,0.43756,0.066

In [32]:
df_market_caps.to_csv('../data/data_3_market_caps.csv')

In [50]:
df_market_caps = pd.read_csv('../data/data_3_market_caps.csv', index_col=0)

In [52]:
df_market_caps

,stock_ticker_symbol,market_capital,trailing_pe,beta,return_on_equity,earnings_growth
0,RS1.L,3.668791e+09,19.858974,0.863,0.13226,-0.368
1,KE,4.281351e+08,21.370369,1.258,0.03854,NaN
2,TEG.DE,2.765612e+09,NaN,1.037,-0.03766,NaN
3,LEG.DE,6.927171e+09,NaN,0.957,-0.08126,NaN
4,SCS,1.492860e+09,17.210526,1.314,0.10633,8.000
...,...,...,...,...,...,...
1657,KVHI,9.127629e+07,NaN,0.594,-0.14536,NaN
1658,MOON.L,7.018797e+08,2035.000000,1.238,NaN,-0.072
1659,NEO,1.940312e+09,NaN,1.191,-0.08391,NaN
1660,6055.T,1.704423e+11,27.933996,0.585,0.13585,0.379
1661,UNP,1.529757e+11,23.622766,1.053,0.43756,0.066

Merging ESG score with market-capital of companies

In [53]:
df_market_cap = pd.merge(df_market_cap, df_market_caps, on='stock_ticker_symbol', left_index=False, right_index=False)
df_market_cap

,Unnamed: 0,company_name,company_esg_score,company_esg_score_group,industry,stock_exchange,stock_ticker_symbol,market_capital_x,market_capital_euro,market_capital_y,trailing_pe,beta,return_on_equity,earnings_growth
0,3498,RS Group Plc,4.5,Negligible ESG Risk,Technology Hardware,LON,RS1.L,3668790784,4365861032.96,3.668791e+09,19.858974,0.863,0.13226,-0.368
1,3486,"Kimball Electronics, Inc.",4.5,Negligible ESG Risk,Technology Hardware,NAS,KE,428135136,393884325.12,4.281351e+08,21.370369,1.258,0.03854,NaN
2,2100,TAG Immobilien AG,4.6,Negligible ESG Risk,Real Estate,ETR,TEG.DE,2765612288,2765612288,2.765612e+09,NaN,1.037,-0.03766,NaN
3,2068,LEG Immobilien SE,5.1,Negligible ESG Risk,Real Estate,ETR,LEG.DE,6927171072,6927171072,6.927171e+09,NaN,0.957,-0.08126,NaN
4,521,"Steelcase, Inc.",5.3,Negligible ESG Risk,Commercial Services,NYS,SCS,1492859648,1373430876.16,1.492860e+09,17.210526,1.314,0.10633,8.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1657,3676,"KVH Industries, Inc. (Delaware)",20.0,Low ESG Risk,Technology Hardware,NAS,KVHI,91276288,91276288,9.127629e+07,NaN,0.594,-0.14536,NaN
1658,2905,Moonpig Group Plc,20.0,Low ESG Risk,Retailing,LON,MOON.L,701879680,701879680,7.018797e+08,2035.000000,1.238,NaN,-0.072
1659,1963,"NeoGenomics, Inc.",20.0,Low ESG Risk,Pharmaceuticals,NAS,NEO,1940312192,1940312192,1.940312e+09,NaN,1.191,-0.08391,NaN
1660,3057,"Japan Material Co., Ltd.",20.0,Low ESG Risk,Semiconductors,TKS,6055.T,170442342400,170442342400,1.704423e+11,27.933996,0.585,0.13585,0.379
1661,4160,Union Pacific Corp.,20.0,Low ESG Risk,Transportation,NYS,UNP,152975720448,152975720448,1.529757e+11,23.622766,1.053,0.43756,0.066

In [64]:
# Cleaning merge generated columns
df_market_cap.rename(columns={'market_capital_x': 'market_capital'}, inplace=True)
df_market_cap.drop(['market_capital_y'], axis=1, inplace=True)

In [65]:
df_market_cap

,Unnamed: 0,company_name,company_esg_score,company_esg_score_group,industry,stock_exchange,stock_ticker_symbol,market_capital,market_capital_euro,trailing_pe,beta,return_on_equity,earnings_growth
0,3498,RS Group Plc,4.5,Negligible ESG Risk,Technology Hardware,LON,RS1.L,3668790784,3668790784,19.858974,0.863,0.13226,-0.368
1,3486,"Kimball Electronics, Inc.",4.5,Negligible ESG Risk,Technology Hardware,NAS,KE,428135136,428135136,21.370369,1.258,0.03854,NaN
2,2100,TAG Immobilien AG,4.6,Negligible ESG Risk,Real Estate,ETR,TEG.DE,2765612288,2765612288,NaN,1.037,-0.03766,NaN
3,2068,LEG Immobilien SE,5.1,Negligible ESG Risk,Real Estate,ETR,LEG.DE,6927171072,6927171072,NaN,0.957,-0.08126,NaN
4,521,"Steelcase, Inc.",5.3,Negligible ESG Risk,Commercial Services,NYS,SCS,1492859648,1492859648,17.210526,1.314,0.10633,8.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1657,3676,"KVH Industries, Inc. (Delaware)",20.0,Low ESG Risk,Technology Hardware,NAS,KVHI,91276288,91276288,NaN,0.594,-0.14536,NaN
1658,2905,Moonpig Group Plc,20.0,Low ESG Risk,Retailing,LON,MOON.L,701879680,701879680,2035.000000,1.238,NaN,-0.072
1659,1963,"NeoGenomics, Inc.",20.0,Low ESG Risk,Pharmaceuticals,NAS,NEO,1940312192,1940312192,NaN,1.191,-0.08391,NaN
1660,3057,"Japan Material Co., Ltd.",20.0,Low ESG Risk,Semiconductors,TKS,6055.T,170442342400,170442342400,27.933996,0.585,0.13585,0.379
1661,4160,Union Pacific Corp.,20.0,Low ESG Risk,Transportation,NYS,UNP,152975720448,152975720448,23.622766,1.053,0.43756,0.066

### Market Capital to Euro

To make sense of the market-capital value we have to first pick a preferred currency and convert them all to it.
For this purpose we will be using Euro as the standard currency.

In [66]:
df_market_cap['market_capital_euro'] = df_market_cap['market_capital']

Exchange Rate (19.08.2024)

In [67]:
exchange_rate = {
    "yen_to_euro": 0.0058,
    "us_to_euro": 0.92,
    "pound_to_euro": 1.19
}

In [68]:
for i, row in enumerate(df_market_cap):
    # Yen
    if df_market_cap['stock_exchange'][i] == 'TKS':
        df_market_cap.at[i, 'market_capital_euro'] = df_market_cap['market_capital'][i] * exchange_rate['pound_to_euro']
    # Dollar
    if df_market_cap['stock_exchange'][i] == 'NYS':
        df_market_cap.at[i, 'market_capital_euro'] = df_market_cap['market_capital'][i] * exchange_rate['us_to_euro']
    if df_market_cap['stock_exchange'][i] == 'NAS':
        df_market_cap.at[i, 'market_capital_euro'] = df_market_cap['market_capital'][i] * exchange_rate['us_to_euro']
    # Pound
    if df_market_cap['stock_exchange'][i] == 'LON':
        df_market_cap.at[i, 'market_capital_euro'] = df_market_cap['market_capital'][i] * exchange_rate['pound_to_euro']

In [69]:
df_market_cap.to_csv('../data/data_4_market_cap_euro.csv')
df_market_cap

,Unnamed: 0,company_name,company_esg_score,company_esg_score_group,industry,stock_exchange,stock_ticker_symbol,market_capital,market_capital_euro,trailing_pe,beta,return_on_equity,earnings_growth
0,3498,RS Group Plc,4.5,Negligible ESG Risk,Technology Hardware,LON,RS1.L,3668790784,4365861032.96,19.858974,0.863,0.13226,-0.368
1,3486,"Kimball Electronics, Inc.",4.5,Negligible ESG Risk,Technology Hardware,NAS,KE,428135136,393884325.12,21.370369,1.258,0.03854,NaN
2,2100,TAG Immobilien AG,4.6,Negligible ESG Risk,Real Estate,ETR,TEG.DE,2765612288,2765612288,NaN,1.037,-0.03766,NaN
3,2068,LEG Immobilien SE,5.1,Negligible ESG Risk,Real Estate,ETR,LEG.DE,6927171072,6927171072,NaN,0.957,-0.08126,NaN
4,521,"Steelcase, Inc.",5.3,Negligible ESG Risk,Commercial Services,NYS,SCS,1492859648,1373430876.16,17.210526,1.314,0.10633,8.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1657,3676,"KVH Industries, Inc. (Delaware)",20.0,Low ESG Risk,Technology Hardware,NAS,KVHI,91276288,91276288,NaN,0.594,-0.14536,NaN
1658,2905,Moonpig Group Plc,20.0,Low ESG Risk,Retailing,LON,MOON.L,701879680,701879680,2035.000000,1.238,NaN,-0.072
1659,1963,"NeoGenomics, Inc.",20.0,Low ESG Risk,Pharmaceuticals,NAS,NEO,1940312192,1940312192,NaN,1.191,-0.08391,NaN
1660,3057,"Japan Material Co., Ltd.",20.0,Low ESG Risk,Semiconductors,TKS,6055.T,170442342400,170442342400,27.933996,0.585,0.13585,0.379
1661,4160,Union Pacific Corp.,20.0,Low ESG Risk,Transportation,NYS,UNP,152975720448,152975720448,23.622766,1.053,0.43756,0.066

### Column normalization

Since ESG-Score and market-capital are on different scales, it's important to normalize them so they can be compared directly.

In [78]:
df_scaled = pd.read_csv('../data/data_4_market_cap_euro.csv', index_col=0)

In [71]:
# Normalize ESG-Score and market-capital
scaler = MinMaxScaler()
df_scaled[['company_esg_score_scale', 'market_capital_scale']] = scaler.fit_transform(df_scaled[['company_esg_score', 'market_capital_euro']])

In [80]:
df_scaled

,Unnamed: 0,company_name,company_esg_score,company_esg_score_group,industry,stock_exchange,stock_ticker_symbol,market_capital,market_capital_euro,trailing_pe,beta,return_on_equity,earnings_growth
0,3498,RS Group Plc,4.5,Negligible ESG Risk,Technology Hardware,LON,RS1.L,3.668791e+09,4.365861e+09,19.858974,0.863,0.13226,-0.368
1,3486,"Kimball Electronics, Inc.",4.5,Negligible ESG Risk,Technology Hardware,NAS,KE,4.281351e+08,3.938843e+08,21.370369,1.258,0.03854,NaN
2,2100,TAG Immobilien AG,4.6,Negligible ESG Risk,Real Estate,ETR,TEG.DE,2.765612e+09,2.765612e+09,NaN,1.037,-0.03766,NaN
3,2068,LEG Immobilien SE,5.1,Negligible ESG Risk,Real Estate,ETR,LEG.DE,6.927171e+09,6.927171e+09,NaN,0.957,-0.08126,NaN
4,521,"Steelcase, Inc.",5.3,Negligible ESG Risk,Commercial Services,NYS,SCS,1.492860e+09,1.373431e+09,17.210526,1.314,0.10633,8.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1657,3676,"KVH Industries, Inc. (Delaware)",20.0,Low ESG Risk,Technology Hardware,NAS,KVHI,9.127629e+07,9.127629e+07,NaN,0.594,-0.14536,NaN
1658,2905,Moonpig Group Plc,20.0,Low ESG Risk,Retailing,LON,MOON.L,7.018797e+08,7.018797e+08,2035.000000,1.238,NaN,-0.072
1659,1963,"NeoGenomics, Inc.",20.0,Low ESG Risk,Pharmaceuticals,NAS,NEO,1.940312e+09,1.940312e+09,NaN,1.191,-0.08391,NaN
1660,3057,"Japan Material Co., Ltd.",20.0,Low ESG Risk,Semiconductors,TKS,6055.T,1.704423e+11,1.704423e+11,27.933996,0.585,0.13585,0.379
1661,4160,Union Pacific Corp.,20.0,Low ESG Risk,Transportation,NYS,UNP,1.529757e+11,1.529757e+11,23.622766,1.053,0.43756,0.066

To create a final score, we use the ESG score and the market capital score, applying the following weights: the ESG score is multiplied by a coefficient of 0.25, and the market capital score is multiplied by a coefficient of 0.75.

## Introducing score column

In [73]:
# Create final score
coefficient_esg_score = variables.ESG_WEIGHT
coefficient_market_capital = variables.MARKET_CAPITAL_WEIGHT
df_scaled['score'] = df_scaled['company_esg_score_scale'] * coefficient_esg_score + df_scaled['market_capital_scale'] * coefficient_market_capital

# Sort by score
df_scaled.sort_values(by='score', ascending=False)

,Unnamed: 0.1,Unnamed: 0,company_name,company_esg_score,company_esg_score_group,industry,stock_exchange,stock_ticker_symbol,market_capital,market_capital_euro,trailing_pe,beta,return_on_equity,earnings_growth,company_esg_score_scale,market_capital_scale,score
734,734,790,Sony Group Corp.,15.6,Low ESG Risk,Consumer Durables,TKS,6758.T,1.595672e+13,1.595672e+13,16.260162,0.820,0.13113,0.078,0.716129,1.000000,0.929032
456,456,3671,KEYENCE Corp.,13.7,Low ESG Risk,Technology Hardware,TKS,6861.T,1.561133e+13,1.561133e+13,41.322422,0.703,0.13956,0.099,0.593548,0.978355,0.882153
486,486,2820,"FAST RETAILING CO., LTD.",14.0,Low ESG Risk,Retailing,TKS,9983.T,1.352642e+13,1.352642e+13,36.363636,0.687,0.19893,0.374,0.612903,0.847695,0.788997
1627,1627,1930,"Daiichi Sankyo Co., Ltd.",19.8,Low ESG Risk,Pharmaceuticals,TKS,4568.T,1.097793e+13,1.097793e+13,48.309906,0.282,0.14113,0.500,0.987097,0.687982,0.762761
1631,1631,3839,KDDI Corp.,19.8,Low ESG Risk,Telecommunication Services,TKS,9433.T,9.803605e+12,9.803605e+12,15.948885,0.069,0.11472,0.036,0.987097,0.614387,0.707565
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037,1037,679,Triton International Ltd.,17.1,Low ESG Risk,Commercial Services,NYS,TRTN.PRE,NaN,NaN,NaN,NaN,NaN,NaN,0.812903,NaN,NaN
1135,1135,341,National Rural Utilities Cooperative Finance C...,17.6,Low ESG Risk,Banks,NYS,NRUC,NaN,NaN,NaN,NaN,NaN,NaN,0.845161,NaN,NaN
1200,1200,3675,Kontron AG,17.9,Low ESG Risk,Technology Hardware,ETR,KTN.DE,NaN,NaN,NaN,NaN,NaN,NaN,0.864516,NaN,NaN
1236,1236,3829,BT Group Plc,18.1,Low ESG Risk,Telecommunication Services,LON,BT.A.L,NaN,NaN,NaN,NaN,NaN,NaN,0.877419,NaN,NaN
1247,1247,1792,Lions Gate Entertainment Corp.,18.1,Low ESG Risk,Media,NYS,LGF.A,NaN,NaN,NaN,NaN,NaN,NaN,0.877419,NaN,NaN

In [74]:
df_scaled

,Unnamed: 0.1,Unnamed: 0,company_name,company_esg_score,company_esg_score_group,industry,stock_exchange,stock_ticker_symbol,market_capital,market_capital_euro,trailing_pe,beta,return_on_equity,earnings_growth,company_esg_score_scale,market_capital_scale,score
0,0,3498,RS Group Plc,4.5,Negligible ESG Risk,Technology Hardware,LON,RS1.L,3.668791e+09,4.365861e+09,19.858974,0.863,0.13226,-0.368,0.000000,0.000273,0.000205
1,1,3486,"Kimball Electronics, Inc.",4.5,Negligible ESG Risk,Technology Hardware,NAS,KE,4.281351e+08,3.938843e+08,21.370369,1.258,0.03854,NaN,0.000000,0.000024,0.000018
2,2,2100,TAG Immobilien AG,4.6,Negligible ESG Risk,Real Estate,ETR,TEG.DE,2.765612e+09,2.765612e+09,NaN,1.037,-0.03766,NaN,0.006452,0.000173,0.001743
3,3,2068,LEG Immobilien SE,5.1,Negligible ESG Risk,Real Estate,ETR,LEG.DE,6.927171e+09,6.927171e+09,NaN,0.957,-0.08126,NaN,0.038710,0.000434,0.010003
4,4,521,"Steelcase, Inc.",5.3,Negligible ESG Risk,Commercial Services,NYS,SCS,1.492860e+09,1.373431e+09,17.210526,1.314,0.10633,8.000,0.051613,0.000086,0.012968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1657,1657,3676,"KVH Industries, Inc. (Delaware)",20.0,Low ESG Risk,Technology Hardware,NAS,KVHI,9.127629e+07,9.127629e+07,NaN,0.594,-0.14536,NaN,1.000000,0.000006,0.250004
1658,1658,2905,Moonpig Group Plc,20.0,Low ESG Risk,Retailing,LON,MOON.L,7.018797e+08,7.018797e+08,2035.000000,1.238,NaN,-0.072,1.000000,0.000044,0.250033
1659,1659,1963,"NeoGenomics, Inc.",20.0,Low ESG Risk,Pharmaceuticals,NAS,NEO,1.940312e+09,1.940312e+09,NaN,1.191,-0.08391,NaN,1.000000,0.000121,0.250091
1660,1660,3057,"Japan Material Co., Ltd.",20.0,Low ESG Risk,Semiconductors,TKS,6055.T,1.704423e+11,1.704423e+11,27.933996,0.585,0.13585,0.379,1.000000,0.010681,0.258011
1661,1661,4160,Union Pacific Corp.,20.0,Low ESG Risk,Transportation,NYS,UNP,1.529757e+11,1.529757e+11,23.622766,1.053,0.43756,0.066,1.000000,0.009587,0.257190

In [75]:
df_scaled = df_scaled.loc[:, ~df_scaled.columns.str.contains('^Unnamed')]
df_scaled

,company_name,company_esg_score,company_esg_score_group,industry,stock_exchange,stock_ticker_symbol,market_capital,market_capital_euro,trailing_pe,beta,return_on_equity,earnings_growth,company_esg_score_scale,market_capital_scale,score
0,RS Group Plc,4.5,Negligible ESG Risk,Technology Hardware,LON,RS1.L,3.668791e+09,4.365861e+09,19.858974,0.863,0.13226,-0.368,0.000000,0.000273,0.000205
1,"Kimball Electronics, Inc.",4.5,Negligible ESG Risk,Technology Hardware,NAS,KE,4.281351e+08,3.938843e+08,21.370369,1.258,0.03854,NaN,0.000000,0.000024,0.000018
2,TAG Immobilien AG,4.6,Negligible ESG Risk,Real Estate,ETR,TEG.DE,2.765612e+09,2.765612e+09,NaN,1.037,-0.03766,NaN,0.006452,0.000173,0.001743
3,LEG Immobilien SE,5.1,Negligible ESG Risk,Real Estate,ETR,LEG.DE,6.927171e+09,6.927171e+09,NaN,0.957,-0.08126,NaN,0.038710,0.000434,0.010003
4,"Steelcase, Inc.",5.3,Negligible ESG Risk,Commercial Services,NYS,SCS,1.492860e+09,1.373431e+09,17.210526,1.314,0.10633,8.000,0.051613,0.000086,0.012968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1657,"KVH Industries, Inc. (Delaware)",20.0,Low ESG Risk,Technology Hardware,NAS,KVHI,9.127629e+07,9.127629e+07,NaN,0.594,-0.14536,NaN,1.000000,0.000006,0.250004
1658,Moonpig Group Plc,20.0,Low ESG Risk,Retailing,LON,MOON.L,7.018797e+08,7.018797e+08,2035.000000,1.238,NaN,-0.072,1.000000,0.000044,0.250033
1659,"NeoGenomics, Inc.",20.0,Low ESG Risk,Pharmaceuticals,NAS,NEO,1.940312e+09,1.940312e+09,NaN,1.191,-0.08391,NaN,1.000000,0.000121,0.250091
1660,"Japan Material Co., Ltd.",20.0,Low ESG Risk,Semiconductors,TKS,6055.T,1.704423e+11,1.704423e+11,27.933996,0.585,0.13585,0.379,1.000000,0.010681,0.258011
1661,Union Pacific Corp.,20.0,Low ESG Risk,Transportation,NYS,UNP,1.529757e+11,1.529757e+11,23.622766,1.053,0.43756,0.066,1.000000,0.009587,0.257190

In [76]:
#columns_relevant = ['company_name', 'industry', 'stock_exchange', 'stock_ticker_symbol', 'market_capital_euro', 'score']
df_scaled.to_csv('../data/data_5_scaled.csv')

In [77]:
df_scaled

,company_name,company_esg_score,company_esg_score_group,industry,stock_exchange,stock_ticker_symbol,market_capital,market_capital_euro,trailing_pe,beta,return_on_equity,earnings_growth,company_esg_score_scale,market_capital_scale,score
0,RS Group Plc,4.5,Negligible ESG Risk,Technology Hardware,LON,RS1.L,3.668791e+09,4.365861e+09,19.858974,0.863,0.13226,-0.368,0.000000,0.000273,0.000205
1,"Kimball Electronics, Inc.",4.5,Negligible ESG Risk,Technology Hardware,NAS,KE,4.281351e+08,3.938843e+08,21.370369,1.258,0.03854,NaN,0.000000,0.000024,0.000018
2,TAG Immobilien AG,4.6,Negligible ESG Risk,Real Estate,ETR,TEG.DE,2.765612e+09,2.765612e+09,NaN,1.037,-0.03766,NaN,0.006452,0.000173,0.001743
3,LEG Immobilien SE,5.1,Negligible ESG Risk,Real Estate,ETR,LEG.DE,6.927171e+09,6.927171e+09,NaN,0.957,-0.08126,NaN,0.038710,0.000434,0.010003
4,"Steelcase, Inc.",5.3,Negligible ESG Risk,Commercial Services,NYS,SCS,1.492860e+09,1.373431e+09,17.210526,1.314,0.10633,8.000,0.051613,0.000086,0.012968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1657,"KVH Industries, Inc. (Delaware)",20.0,Low ESG Risk,Technology Hardware,NAS,KVHI,9.127629e+07,9.127629e+07,NaN,0.594,-0.14536,NaN,1.000000,0.000006,0.250004
1658,Moonpig Group Plc,20.0,Low ESG Risk,Retailing,LON,MOON.L,7.018797e+08,7.018797e+08,2035.000000,1.238,NaN,-0.072,1.000000,0.000044,0.250033
1659,"NeoGenomics, Inc.",20.0,Low ESG Risk,Pharmaceuticals,NAS,NEO,1.940312e+09,1.940312e+09,NaN,1.191,-0.08391,NaN,1.000000,0.000121,0.250091
1660,"Japan Material Co., Ltd.",20.0,Low ESG Risk,Semiconductors,TKS,6055.T,1.704423e+11,1.704423e+11,27.933996,0.585,0.13585,0.379,1.000000,0.010681,0.258011
1661,Union Pacific Corp.,20.0,Low ESG Risk,Transportation,NYS,UNP,1.529757e+11,1.529757e+11,23.622766,1.053,0.43756,0.066,1.000000,0.009587,0.257190

## Historical returns
Historical returns are analyzed over the past 25 years. This timeframe is chosen because it captures both short-term volatility and long-term market disruptions, while filtering out the daily or monthly fluctuations.

In [90]:
df_returns = pd.read_csv('../data/data_5_scaled.csv', index_col=0)

In [93]:
df_returns.head()

,company_name,company_esg_score,company_esg_score_group,industry,stock_exchange,stock_ticker_symbol,market_capital,market_capital_euro,trailing_pe,beta,return_on_equity,earnings_growth,company_esg_score_scale,market_capital_scale,score
0,RS Group Plc,4.5,Negligible ESG Risk,Technology Hardware,LON,RS1.L,3.668791e+09,4.365861e+09,19.858974,0.863,0.13226,-0.368,0.000000,0.000273,0.000205
1,"Kimball Electronics, Inc.",4.5,Negligible ESG Risk,Technology Hardware,NAS,KE,4.281351e+08,3.938843e+08,21.370369,1.258,0.03854,NaN,0.000000,0.000024,0.000018
2,TAG Immobilien AG,4.6,Negligible ESG Risk,Real Estate,ETR,TEG.DE,2.765612e+09,2.765612e+09,NaN,1.037,-0.03766,NaN,0.006452,0.000173,0.001743
3,LEG Immobilien SE,5.1,Negligible ESG Risk,Real Estate,ETR,LEG.DE,6.927171e+09,6.927171e+09,NaN,0.957,-0.08126,NaN,0.038710,0.000434,0.010003
4,"Steelcase, Inc.",5.3,Negligible ESG Risk,Commercial Services,NYS,SCS,1.492860e+09,1.373431e+09,17.210526,1.314,0.10633,8.000,0.051613,0.000086,0.012968

In [94]:
ticker_list = df_returns['stock_ticker_symbol'].to_list()
# Format the new date as 'YYYY-MM-DD'
start_date = (datetime.now() - relativedelta(years=variables.max_span_years)).strftime('%Y-%m-%d')
end_date = datetime.now().strftime('%Y-%m-%d')
#
#monthly_returns = data_ticker_service.get_monthly_returns(tickers, start_date, end_date)
df_monthly_adj_close = data_ticker_service.get_returns_in_chunks(ticker_list, start_date, end_date, interval='1mo', chunk_size=20, sleep_duration=5)
df_monthly_adj_close

Downloading data for tickers: ['RS1.L', 'KE', 'TEG.DE', 'LEG.DE', 'SCS', 'HNI', 'AVT', 'ACCO', 'BRNK.DE', 'VNA.DE', '7912.T', 'KEYS', 'SGRO.L', 'CBRE', 'BRC', 'PGRE', 'PSON.L', 'BBOX.L', 'REL.L', 'TMV.DE']
Pausing to avoid overloading the API...
Downloading data for tickers: ['BHE', 'PLXS', 'GPE.L', 'HAS', 'CHGG', 'JLL', 'LAND.L', 'OLED', 'CDW', 'FLEX', 'REZI', 'TPL', 'ARW', 'FN', 'NOVT', 'RYN', 'SNX', '7911.T', 'CMPR', 'DLAR.L']
Pausing to avoid overloading the API...
Downloading data for tickers: ['2379.T', '6754.T', 'SHA.DE', 'TTMI', '3234.T', 'PBI', 'BYG.L', 'ASGN', 'COA.L', 'HOUS', 'VVV', 'PAGE.L', 'DB1.DE', 'AVB', '3309.T', 'STWD', 'GROW.L', 'MTO.L', 'KFY', 'MEI']
Pausing to avoid overloading the API...
Downloading data for tickers: ['BLND.L', 'RGLD', 'KFRC', 'IWG.L', '8954.T', 'ZIL2.DE', 'SANM', 'SXS.L', 'YETI', 'ACN', 'HPP', '7893.T', 'SVS.L', 'AGNC', 'CTS', 'IPG', 'BMI', 'FUTR.L', 'EBOX.L', 'SCSC']
Pausing to avoid overloading the API...
Downloading data for tickers: ['MAN', '7994.T', '3283.T', 'PDM', 'III.L', 'NBS.L', 'DSCV.L', '6183.T', 'KELYA', '6724.T', '4384.T', 'ST', 'BRBY.L', '7984.T', 'CCK', 'APTV', 'STEM.L', 'UU.L', 'ITRI', '6287.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['INF.L', '4218.T', 'HMSO.L', 'WDC', '7313.T', 'EBF', 'TNET', '6098.T', 'MLKN', 'HLMA.L', 'SKG.L', 'WPP.L', 'JBL', '3279.T', 'JEN.DE', 'LXP', 'TRMB', 'WKP.L', '6028.T', 'NLY']
Pausing to avoid overloading the API...
Downloading data for tickers: ['KGF.L', 'RMAX', '7951.T', '7846.T', 'SBAC', 'KRG', 'ATR', 'ELME', 'DNLM.L', 'BDEV.L', 'TEP.L', 'ESRT', 'CGNX', 'ZBRA', 'DLX', 'BWA', 'ELV', 'NYT', 'SNWS.L', 'INS.DE']
Pausing to avoid overloading the API...
Downloading data for tickers: ['INCH.L', 'NWSA', 'AT1.DE', 'MKSI', '7914.T', 'MMI', 'EXPN.L', 'GRI.L', 'SNBR', 'SMWH.L', 'IR', 'ITV.L', 'LAD', 'HSII', 'CUZ', 'LIN', 'PHP.L', 'NL', 'BALL', '2146.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['DHR', 'KIM', '8057.T', '6841.T', 'MAC', 'ECOR.L', 'SWBI', '8151.T', 'CNNE', 'PLD', 'REXR', 'IPGP', 'RHI', '6845.T', '7868.T', 'CDP', 'AAP', 'HEAD.L', 'GOLF', 'HAS.L']
Pausing to avoid overloading the API...
Downloading data for tickers: ['LSL.L', '7272.T', 'RCH.L', 'ATGE', '7701.T', 'SAP.DE', 'GWI.L', 'POOL', 'AZO', 'ZWS', 'GTX', 'LKQ', '2154.T', 'MIDW.L', 'HPQ', 'AZEK', 'ADV.DE', 'VRE', 'NSIT', 'KMX']
Pausing to avoid overloading the API...
Downloading data for tickers: ['OXIG.L', 'CDNS', 'CAH', 'VNT', 'VTR', 'QUAD', 'COR', 'REG', '7976.T', 'API.L', 'STAA', 'JOUT', 'PNN.L', 'ENR.DE', 'WSM', 'WIX.L', 'A', 'EQR', 'PFG', '8952.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['PTEC.L', 'SPGI', 'FOXT.L', 'HPE', '8976.T', '2124.T', '4641.T', 'LZB', 'CWC.DE', 'AAD.DE', 'STX', 'ESS', 'AMAT', 'AMH', 'AG1.DE', 'LEA', '7762.T', 'ANIK', 'PKE', 'HIW']
Pausing to avoid overloading the API...
Downloading data for tickers: ['MAA', 'RDFN', 'PSM.DE', '4848.T', 'HLE.DE', '5108.T', 'RELL', '3107.T', 'PSA', 'AY', '7476.T', 'ORLY', 'LOW', 'ALV.DE', 'BBSI', 'DLB', 'OPEN', 'RSW.L', 'SMDS.L', '7613.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['LMP.L', 'O5G.DE', 'CCI', 'DLN.L', 'ALV', 'LITE', 'MNDI.L', '8084.T', 'AMBP', 'BXP', 'EXLS', '8022.T', 'HFD.L', 'BDN', '8060.T', 'MTH', 'XRAY', 'FL', 'HAE', 'BRX']
Pausing to avoid overloading the API...
Downloading data for tickers: ['6701.T', 'MTD', 'MSI', 'FME.DE', 'DLR', 'SAFE.L', 'LRCX', '7864.T', 'FOXA', 'LEG', 'HLCL.L', 'FARO', '3466.T', 'SAX.DE', '9468.T', '4732.T', 'KBX.DE', 'JDG.L', 'IRM', 'BOSS.DE']
Pausing to avoid overloading the API...
Downloading data for tickers: ['NSP', 'G1A.DE', 'RDW.L', 'RNW', 'FRT', 'MODG', 'PINE.L', 'SPG', 'MPX', '6702.T', '1925.T', 'BSL.DE', 'IVT', 'TBCG.L', 'HBH.DE', 'PAG', 'JD.L', '6448.T', 'AMT', 'ESCA']
Pausing to avoid overloading the API...
Downloading data for tickers: ['BKG.L', 'IGT', 'CRMT', 'BCYC', 'TPX', '6915.T', 'TMO', '9934.T', 'WAT', 'AN', 'THRM', 'PETS.L', 'GPC', 'RWA.L', 'MNRO', '3462.T', 'UDMY', 'HD', 'EGP', 'NWL']
Pausing to avoid overloading the API...
Downloading data for tickers: ['SPT.L', '6981.T', 'CSCO', 'HASI', 'RWS.L', '6436.T', 'ASCL.L', 'OKTA', 'MOV', 'UDR', 'PMT', 'CMLS', 'G24.DE', 'JNPR', 'RDWR', '8967.T', '8159.T', 'HST', 'AGR.L', '3295.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['8960.T', '8035.T', '2181.T', 'SBRA', 'ICG.L', 'EQIX', 'ADNT', 'TEL', 'BIG.L', 'CI', '7734.T', 'TBI', 'SREI.L', 'UTG.L', 'HOG', 'UTMD', 'SVT.L', 'DRH', 'BFSA.DE', '7906.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['DHL.DE', 'DFS.L', '8984.T', 'FTDR', 'SUPR.L', 'IFX.DE', 'WLY', 'AOX.DE', 'JBGS', 'GPI', 'CLMB', 'BAH', 'ETD', 'ARE', 'LVWR', 'SSP', 'TW.L', 'SMTC', 'AGYS', 'SDRY.L']
Pausing to avoid overloading the API...
Downloading data for tickers: ['SEE', 'SLG', 'NVDA', '7867.T', 'WTS', 'AKAM', 'NCC.L', 'SKT', '3282.T', 'IBM', '3421.T', '6200.T', 'EA', 'TSCO', 'ACRE', 'CEC.DE', 'PANW', 'ADS.DE', 'AV.L', 'MCK']
Pausing to avoid overloading the API...
Downloading data for tickers: ['RTO.L', 'VID.L', '5988.T', 'AL', 'QCOM', 'BCPT.L', 'GWRE', 'LEVI', '3451.T', 'NDAQ', '8141.T', 'QGEN', 'TM17.L', '8986.T', 'DWNI.DE', 'GAW.L', 'KRC', 'BIRK', 'CRI', 'PAG.L']
Pausing to avoid overloading the API...
Downloading data for tickers: ['2715.T', 'TPR', 'FOSL', 'CCEP', 'RWI.L', 'ILM1.DE', 'ACLS', 'COMM', 'JAKK', 'HQI', 'CAR', 'FRE.DE', 'HAYW', '8968.T', 'HOFT', '3249.T', '6861.T', 'CNH', 'IPO.L', 'CURY.L']
Pausing to avoid overloading the API...
Downloading data for tickers: ['ANET', '7718.T', 'BNR.DE', 'CCC.L', 'LOPE', 'STAG', '7282.T', 'G', '8957.T', '8955.T', 'VNO', '7944.T', 'RXRX', 'CNXN', 'MKTX', 'CREI.L', 'WPC', 'AMD', 'ELS', 'AKR']
Pausing to avoid overloading the API...
Downloading data for tickers: ['DOX', 'TGNA', 'SNPS', 'VICI', 'HWDN.L', 'KNOS.L', '9983.T', 'BBY', 'MRL.L', 'MHK', 'GPMT', 'FERG', 'STVG.L', 'USFD', 'RL', 'INVP.L', 'FRA.DE', 'MOTR.L', 'BMY.L', 'COLD']
Pausing to avoid overloading the API...
Downloading data for tickers: ['ADBE', 'PARA', 'THRY', 'ETWO', '8173.T', 'GYC.DE', 'TTEK', 'CENT', 'LOVE', 'PK', 'AAT', '6645.T', 'DECK', 'ITI', '6866.T', '7433.T', 'KBH', 'MSFT', '8818.T', 'CPT']
Pausing to avoid overloading the API...
Downloading data for tickers: ['EXR', 'PLCE', 'JBHT', '7752.T', 'NTAP', 'ABM', 'AMS.L', 'CNXC', 'FGP.L', '7309.T', '8014.T', 'HL.L', 'FBRT', '7593.T', 'HELE', 'FIS', 'ABG', 'PRU.L', 'VFC', 'SITC']
Pausing to avoid overloading the API...
Downloading data for tickers: ['MSCI', 'FIGS', 'KLIC', 'LULU', 'VOD.L', 'CABO', '8953.T', 'SRE.L', '8154.T', 'ANSS', 'CTEC.L', '7780.T', 'ORA', 'NTGR', 'SUI', 'SIG', 'HSIC', 'CRUS', 'COLM', '8130.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['ALFA.L', '6430.T', 'ORCL', 'OMC', 'CIEN', '8897.T', 'KTB', 'HLN.L', '3471.T', 'SMP', 'DJCO', 'ALGM', 'CTRE', '9332.T', '4849.T', 'CRM', 'MCO', '4902.T', '3132.T', 'HUBS']
Pausing to avoid overloading the API...
Downloading data for tickers: ['3493.T', 'VEEV', 'TPT.L', '7483.T', 'AMCR', 'FCPT', 'RRTL.DE', 'HTG.DE', 'FNKO', 'GBF.DE', '8150.T', 'TRNO', 'SAFE', 'RITM', 'MUV2.DE', '8876.T', 'RESI.L', '9602.T', 'GCI', 'HWG.L']
Pausing to avoid overloading the API...
Downloading data for tickers: ['BYIT.L', 'GLPI', 'DAN', 'APD', 'RDUS', 'ARLO', 'SIX2.DE', 'ZM', 'OMF', 'OI', '8283.T', 'BVB.DE', 'GEN', 'ARI', '8972.T', '8951.T', 'CWH', 'PEB', '4307.T', 'SVC']
Pausing to avoid overloading the API...
Downloading data for tickers: ['HAG.DE', 'NOEJ.DE', 'COP.DE', '4194.T', 'RF', 'HRB', 'MAT', 'LASR', '6703.T', 'DT', '7947.T', '3002.T', 'FR', '2760.T', 'NOW', 'XPER', 'V', 'DIS', '7250.T', '7990.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['CRST.L', '3738.T', 'SCHL', 'AGS', '3487.T', '7552.T', 'ZAL.DE', '9882.T', 'MFA', 'INTC', 'HOLI', 'ADP', 'MET', 'HIG', 'CIM', 'ZTS', 'CALX', '8111.T', 'VPG', 'ADSK']
Pausing to avoid overloading the API...
Downloading data for tickers: ['7220.T', 'JUP.L', 'TT', '4298.T', 'VSCO', 'MIR', 'FND', 'WY', 'KW', '7741.T', 'CTSH', 'SHO', 'HABA.DE', '3281.T', 'SFQ.DE', 'CSR', 'ANF', 'ADC', '9832.T', 'R']
Pausing to avoid overloading the API...
Downloading data for tickers: ['AEO', 'TLX.DE', '6856.T', '8961.T', 'ZUMZ', 'AXL', 'VAR1.DE', '6674.T', 'AON', 'SYY', 'WOSG.L', 'DXC', 'CASS', 'CROX', 'XHR', 'CLDT', '6460.T', 'ARCB', 'NOVA', 'TER']
Pausing to avoid overloading the API...
Downloading data for tickers: ['ABDP.L', 'OMI', '2475.T', 'SPTN', 'FDM.L', '3076.T', 'CNC', 'WEYS', 'EBAY', 'BERY', 'MRVL', 'ROIC', 'MLAB', 'AVY', 'GSK.L', '5970.T', 'MMS', 'SCI', 'TDC', 'TJX']
Pausing to avoid overloading the API...
Downloading data for tickers: ['6857.T', 'ULTA', 'O', 'BNL', 'OSIS', 'CPI.L', '3591.T', 'BR', 'CVLT', 'NFLX', 'BSY', '8008.T', 'MA', 'SEDG', '6758.T', '5991.T', 'SONO', 'ETSY', 'WOOF', 'PVH']
Pausing to avoid overloading the API...
Downloading data for tickers: ['COO', 'IDS.L', 'WHR.L', '7974.T', 'AHT.L', 'BYW6.DE', 'VRA', 'ICLR', 'NXST', 'NXT', 'URI', 'CPRT', '6737.T', 'CYBR', 'DELL', 'ASO', 'VSTO', 'SHOO', 'BNZL.L', 'LCII']
Pausing to avoid overloading the API...
Downloading data for tickers: ['GLOB', 'WCC', '8964.T', 'DOCS.L', '8056.T', '7832.T', '1435.T', 'ABDN.L', '6417.T', 'S92.DE', 'SDR.L', 'DEA', 'DX', 'GT', '3186.T', 'PATH', 'TW', 'NRR.L', 'NSSC', '6744.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['2733.T', '3226.T', '4324.T', 'HVT', 'GHC', 'RGEN', 'WSR', '9104.T', 'MMSI', 'ITRK.L', '7419.T', 'ESTC', '6745.T', '4062.T', 'LRN', '9474.T', 'ODFL', 'VTU.L', 'AZTA', 'DORM']
Pausing to avoid overloading the API...
Downloading data for tickers: ['EPR', 'BURL', '1928.T', 'PSDL.L', '6471.T', 'WBA', 'THRL.L', 'BOOT', 'GWW', 'POWW', '3003.T', '2692.T', 'DE', 'GPK', 'CPS', 'INVH', 'BFAM', '7508.T', 'VVI', 'SIRI']
Pausing to avoid overloading the API...
Downloading data for tickers: ['RBBN', 'TTWO', '3668.T', 'GIII', 'GBG.L', 'VOYA', 'IQV', 'DDOG', 'CCO', 'MRVI', 'CACI', 'WMG', 'NG.L', 'AAN', 'BATRK', 'JCI', 'TPE.DE', '2120.T', 'GPS', 'JST.DE']
Pausing to avoid overloading the API...
Downloading data for tickers: ['ESP.L', '2429.T', 'CVNA', 'DH', 'EXPD', 'CSGS', 'NNN', 'INN', 'NMRK', 'PYCR', 'BGEO.L', 'TPK.L', 'HBI', 'KLAC', '6902.T', 'GCO', 'CLAR', 'NYMT', 'MER.L', 'PCOR']
Pausing to avoid overloading the API...
Downloading data for tickers: ['HIBB', 'EOAN.DE', '7296.T', '3092.T', 'RVTY', 'XPP.L', 'HLT', '8987.T', '2784.T', 'BKE', 'YOU.DE', 'DHC', '6859.T', 'SFIX', 'AZPN', 'SRT3.DE', 'RHP', 'SMHN.DE', 'VRSK', '4544.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['UAA', 'IDXX', 'PSN.L', 'CRTO', '3231.T', 'CPRI', '9843.T', 'BLD', 'CIO', 'DAVA', 'RGP', 'FTNT', 'FFIV', 'SPX.L', 'STRA', '9470.T', 'COHU', 'WW', 'PSTG', '6762.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['HEAR', 'TPH', 'LTC', 'PCTN.L', '3765.T', '8966.T', 'FOXF', 'EVLV', 'OSPN', 'OSUR', 'MCW', 'FTK.DE', 'PYPL', 'PAR', '3104.T', '9735.T', 'CWK', 'JUST.L', 'EYE', 'FDS']
Pausing to avoid overloading the API...
Downloading data for tickers: ['VTY.L', 'FRPH', 'SYF', 'PFGC', 'AEWU.L', 'PCH', 'AGCO', 'RWT', 'AVTR', 'VIAV', 'ZS', 'FOUR.L', 'MCG.L', 'TLYS', 'OMCL', '3292.T', 'IHRT', 'SITE', 'LESL', 'SOHO.L']
Pausing to avoid overloading the API...
Downloading data for tickers: ['CERT', 'EQC', 'HBAN', 'WAF.DE', '9729.T', 'DGE.L', 'PRDO', 'OSW', 'SBS.DE', 'BXMT', 'IRT', '7239.T', 'KD', 'CUBE', 'VTSC.DE', '1911.T', 'TMHC', 'SMAR', 'OPI', '4745.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['LGEN.L', 'GLW', 'PAYX', 'JSG.L', 'XRX', 'GFS', 'MTCH', 'GES', 'NAPA', '3116.T', 'HTWS.L', '6644.T', 'IHG.L', '7729.T', 'OXM', '7731.T', 'CARR', '6736.T', 'MEGP.L', 'TTK.DE']
Pausing to avoid overloading the API...
Downloading data for tickers: ['AAPL', 'JHG', 'TTSH', '3269.T', 'REGN', 'SGE.L', 'UNIT', 'BIO', 'UPBD', 'EVD.DE', 'SCT.L', 'SNOW', '6425.T', 'INTU', 'UNM', 'PTON', 'WTW', 'DKS', 'MRK.DE', '3468.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['ROKU', '9627.T', '4293.T', '4665.T', 'HLIT', 'ODP', 'YUMC', 'ZI', 'FITB', 'EFC', '6146.T', 'LFUS', 'BWY.L', 'DXLG', '7955.T', 'U', 'CTAS', 'UNH', 'BLKB', '7600.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['LDOS', 'MBG.DE', 'DOCU', 'SSE.L', '6383.T', 'PLYM', 'EPRT', '6750.T', 'COK.DE', 'PINC', 'KVUE', '6588.T', 'ICHR', 'FORM', '6976.T', '5332.T', '7732.T', 'TRTN.PRE', '4433.T', 'CME']

1 Failed download:
['TRTN.PRE']: YFTzMissingError('$%ticker%: possibly delisted; no timezone found')

Pausing to avoid overloading the API...
Downloading data for tickers: ['EXTR', 'AOF.DE', 'TGT', '2767.T', 'ASHM.L', '8985.T', 'STJ.L', '4452.T', 'RLJ', 'LNT', '2491.T', 'ATRI', 'P911.DE', '8804.T', '8802.T', 'ARHS', 'RDC.DE', 'HZO', '4751.T', 'MEDP']
Pausing to avoid overloading the API...
Downloading data for tickers: ['7751.T', 'BKNG', 'LSEG.L', 'AMN', 'ROST', 'CAL', '6951.T', '1973.T', '8439.T', 'MANH', '3492.T', '5105.T', 'EQH', 'PCA.L', 'EWCZ', '9101.T', 'HTZ', 'PAT.DE', 'TFC', 'OHI']
Pausing to avoid overloading the API...
Downloading data for tickers: ['TROW', 'FSLR', 'CCH.L', '9364.T', '7730.T', 'NEOG', 'HNR1.DE', '4619.T', 'DAY', '6592.T', 'SNDR', 'MONY.L', 'MDB', 'MEG', 'MERC', 'SHYF', 'WG.L', 'CHEF', 'HCSG', '2874.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['WU', 'APLE', '9068.T', 'MSGS', 'DBI', 'CON.DE', 'IHR.L', 'ROK', 'GNTX', 'WDAY', 'CCS', 'INFA', '9831.T', 'COHR', '9401.T', 'CATO', '9719.T', '3148.T', 'RH', '8079.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['7915.T', 'LSCC', '4980.T', 'CHRW', '3289.T', 'IVR', 'RMV.L', 'BBW', 'GXI.DE', 'EMG.L', 'ONTF', 'ZD', 'CRWD', 'SLAB', '6914.T', 'NRUC', 'SYAB.DE', '3050.T', 'GTN', 'CLI.L']

1 Failed download:
['SYAB.DE']: YFPricesMissingError('$%ticker%: possibly delisted; no price data found  (1mo 1999-09-11 -> 2024-09-11)')

Pausing to avoid overloading the API...
Downloading data for tickers: ['SAIA', 'KN', '6814.T', '7241.T', 'NDX1.DE', 'LINC', 'DAKT', 'CHCT', 'PRI', 'CHKP', 'HFFG', 'ALIT', 'NETW.L', 'TEAM', 'DGII', 'EVTC', 'HHFA.DE', 'AFL', 'SBGI', 'PECO']
Pausing to avoid overloading the API...
Downloading data for tickers: ['PUM.DE', '8129.T', 'NCNO', 'SBH', 'NWG.L', 'NEXN.L', 'EVT.DE', 'FI', 'JILL', '9404.T', 'UNFI', 'CBL', 'AHH', 'SFM', 'HR', 'KMI', 'KWS.L', '8766.T', '7740.T', '2168.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['6723.T', 'TWO', '3191.T', '9076.T', 'MPW', 'AEIS', 'AMKR', 'ZIG.L', '6923.T', 'KREF', 'AER', 'PFE', '4301.T', 'NVMI', 'LADR', '3046.T', '9024.T', '2170.T', '3612.T', 'YOU.L']
Pausing to avoid overloading the API...
Downloading data for tickers: ['KTN.DE', 'LIO.L', 'ICFI', 'INFN', '7294.T', 'HURN', 'SLP', '4716.T', '7599.T', 'UCTT', 'CHPT', 'CFLT', 'ONEW', 'VMUK.L', '7735.T', 'VYX', 'B4B.DE', 'XYL', 'RBLX', 'AYI']
Pausing to avoid overloading the API...
Downloading data for tickers: ['ENT.L', '4689.T', '8050.T', 'SY1.DE', 'WST', 'RARE', 'RENT', 'UE', 'BFH', '2331.T', 'KAR', '8282.T', '5110.T', '6268.T', 'ETN', 'AMC', 'BT.A.L', 'FWRD', '2395.T', 'WBD']

1 Failed download:
['BT.A.L']: YFTzMissingError('$%ticker%: possibly delisted; no timezone found')

Pausing to avoid overloading the API...
Downloading data for tickers: ['SHL.DE', 'CRL', 'AUTO.L', 'ADI', 'NSA', '8114.T', 'ES', 'LGF.A', 'EEX', 'WTB.L', 'KSS', '4812.T', 'KNX', 'TRTX', 'EVOK.L', 'LAMR', '4816.T', 'CPRX', '4151.T', 'ONT.L']

1 Failed download:
['LGF.A']: YFTzMissingError('$%ticker%: possibly delisted; no timezone found')

Pausing to avoid overloading the API...
Downloading data for tickers: ['BELFB', '7354.T', 'TWKS', '9434.T', 'MOD', 'BEZ.L', 'WHR', 'DRVN', '8591.T', 'PRSR.L', '7844.T', 'DDS', 'RMR', '4549.T', '7575.T', 'MNDY', 'KCO.DE', 'EVRI', '3635.T', 'HSTM']
Pausing to avoid overloading the API...
Downloading data for tickers: ['DNB', 'AXP', 'ORC', 'ARRY', 'GTY.DE', '4503.T', 'FOR', 'GEF', 'EHTH', '7747.T', 'TPIC', 'NTST', '3086.T', 'PKG', 'OC', '9987.T', 'ARR', 'IMAX', '3659.T', '8601.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['DTE.DE', 'IHS', '8963.T', '5938.T', 'NBPE.L', 'TAL', '7803.T', 'PAGS', 'BIRD', 'FLGT', 'WRBY', 'PGNY', 'PFC.L', 'SRP.L', 'UTI', 'BEPC', '3481.T', 'ATG.L', 'DV', 'WINA']
Pausing to avoid overloading the API...
Downloading data for tickers: ['7451.T', 'GTY', 'HEN3.DE', 'TYL', 'PRG', 'ADV', 'BLK', 'NTCT', '7459.T', 'FAN.L', 'PDCO', '9613.T', 'TYMN.L', 'PAYC', 'GDDY', 'RMBS', 'PACB', 'CRDA.L', 'MGRC', 'DNOW']
Pausing to avoid overloading the API...
Downloading data for tickers: ['MSA', 'RC', 'TTG.L', 'MNG.L', '3402.T', 'ELAN', 'N91.L', 'WTRG', 'UPWK', '5101.T', 'CPG.L', 'KBR', 'ADUS', 'PRPL', 'PWSC', '8308.T', 'RSG', 'PTC', 'ALGN', 'CRH']
Pausing to avoid overloading the API...
Downloading data for tickers: ['RAT.L', 'PRU', '8958.T', '2972.T', 'CNK', '2979.T', 'LNC', '6965.T', 'NXT.L', 'PHNX.L', 'OUT', 'LBRDK', 'LABS.L', 'CTO', 'ICE', 'MU', 'ROL', 'OTIS', 'IIPR', '7936.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['FINV', 'PRGS', 'CVS', 'EVK.DE', '8219.T', 'JKHY', 'AMP', 'PTVE', 'ICUI', 'ENTG', '6718.T', '9107.T', 'AWK', 'BOWL', 'NKE', '6955.T', 'DTG.DE', 'QSI', 'JMAT.L', 'MITK']
Pausing to avoid overloading the API...
Downloading data for tickers: ['2685.T', 'NHI', 'DLTR', '3476.T', 'PRO', 'UPS', 'DWS.DE', 'BIJ.DE', 'EXC', '3290.T', 'FCN', 'JAMF', 'VZ', 'GILT', 'GLE.L', '7988.T', '3287.T', 'TOST', 'ARES', 'WM']
Pausing to avoid overloading the API...
Downloading data for tickers: ['LXS.DE', 'CMI', 'HCKT', 'NESF.L', 'PKST', 'PLUS.L', '2389.T', 'DBX', 'WWW', 'VSAT', 'TILE', 'BDC', 'HUBB', 'ADTN', 'RGA', 'AVGO', 'RM', 'URBN', 'HFG.DE', '6651.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['9684.T', 'ULTP.L', 'AVNS', 'LAUR', 'ENR', 'SCVL', 'IRWD', 'EVC', 'ADPT', 'SAH', 'ONL', 'DBRG', '9697.T', 'GPRO', 'VRNT', 'HUM', 'CARG', 'NEM.DE', 'ZIM', 'SBLK']
Pausing to avoid overloading the API...
Downloading data for tickers: ['7860.T', 'NXU.DE', 'TROX', 'BK', 'MPWR', 'VOXX', 'ILMN', 'PD', 'APH', 'FSJ.L', 'MSM', '4369.T', 'FDX', '6941.T', 'SPWH', '9766.T', '7606.T', 'VECO', 'MRC', 'MRTN']
Pausing to avoid overloading the API...
Downloading data for tickers: ['6504.T', '8012.T', 'CRAI', 'GKOS', 'KMT', '9757.T', 'NTNX', '9413.T', 'CMBM', 'BOOT.L', 'IT', 'BGFV', 'SFOR.L', '8697.T', '6971.T', 'NXPI', 'RS', 'ITRN', '9869.T', '8977.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['APP', 'AVNW', 'APLD', 'DOLE', 'SBRY.L', 'HLX', '9069.T', '2433.T', 'WEIR.L', '3151.T', 'HOV', 'MHO', 'LSTR', '8923.T', '3593.T', '6326.T', 'VRTX', 'NVT', 'TTC', 'CCRN']
Pausing to avoid overloading the API...
Downloading data for tickers: ['2327.T', 'GFT.DE', 'CRSR', '3636.T', '8252.T', '8086.T', 'ROP', '3994.T', '3697.T', 'BKR', 'RCL', 'SLB', 'EH', '2502.T', '9790.T', 'TRU', 'KETL.L', 'PETQ', '2790.T', 'FIE.DE']
Pausing to avoid overloading the API...
Downloading data for tickers: ['4839.T', 'NVRI', 'GME', '9605.T', 'AIN', 'PMTS', '4676.T', 'FUBO', 'CLFD', 'MVIS', 'SEAT', '4326.T', 'SMCI', 'ACEL', '9409.T', 'SDGR', 'DDD', 'ISRG', 'VC', 'BLCO']
Pausing to avoid overloading the API...
Downloading data for tickers: ['GMRE', 'AMAL', '2337.T', 'GPN', 'BRKR', 'BEN', '3608.T', 'FLTR.L', 'STGW', '8074.T', '3048.T', 'HRI', 'QLYS', 'DFIN', '8803.T', 'XP', 'CNM', 'ONTO', 'ONON', '2792.T']
Pausing to avoid overloading the API...
Downloading data for tickers: ['COUR', 'AUDC', 'FWONK', 'RERE', '5334.T', 'DOW', 'PSTL', '7458.T', 'ECV.DE', 'DAR', 'AMG', 'FLYW', 'FORR', '3626.T', 'BIG', 'UIS', '2971.T', 'IOT', 'SVV', 'CERS']
Pausing to avoid overloading the API...
Downloading data for tickers: ['AIV', 'BC', 'WSC', '7453.T', 'DCC.L', 'CARD.L', 'WIX', '2471.T', 'LQDT', 'DRQ', 'NFG.L', '9064.T', 'GRG.L', 'LYB', 'AWI', 'BC8.DE', 'ACTG', 'LSEA', '3341.T', 'IQ']
Pausing to avoid overloading the API...
Downloading data for tickers: ['CLVT', 'LII', '8309.T', 'PGR', 'MRNA', 'IVAC', 'TWI', '4568.T', 'CRCT', '6787.T', 'ALLE', '9433.T', 'OCN.L', 'VSEC', '7564.T', 'TSCO.L', 'PFD.L', '9143.T', 'GXO', 'BGC']
Pausing to avoid overloading the API...
Downloading data for tickers: ['3296.T', 'RGL.L', 'PEN', '7518.T', '9072.T', 'ENPH', 'RUN', 'GAMA.L', '2670.T', 'SUP', 'MATX', '9260.T', 'DEQ.DE', 'KIDS', 'HALO', 'MATW', '9842.T', 'KVHI', 'MOON.L', 'NEO']
Pausing to avoid overloading the API...
Downloading data for tickers: ['6055.T', 'UNP']
Pausing to avoid overloading the API...

,RS1.L,KE,TEG.DE,LEG.DE,SCS,HNI,AVT,ACCO,BRNK.DE,VNA.DE,...,DEQ.DE,KIDS,HALO,MATW,9842.T,KVHI,MOON.L,NEO,6055.T,UNP
Date,,,,,,,,,,,,,,,,,,,,,
1999-10-01,192.424942,NaN,NaN,NaN,5.165832,9.774066,21.209171,NaN,NaN,NaN,...,NaN,NaN,NaN,9.178375,NaN,3.06250,NaN,NaN,NaN,8.588829
1999-11-01,218.152206,NaN,NaN,NaN,5.319274,10.770150,21.354940,NaN,NaN,NaN,...,NaN,NaN,NaN,8.509521,NaN,3.03125,NaN,NaN,NaN,7.250434
1999-12-01,241.588638,NaN,NaN,NaN,4.910100,10.974279,23.517170,NaN,NaN,NaN,...,NaN,NaN,NaN,10.065028,NaN,3.06250,NaN,NaN,NaN,6.730484
2000-01-01,246.585907,NaN,NaN,NaN,4.700321,9.629849,20.923582,NaN,NaN,NaN,...,NaN,NaN,NaN,8.509521,NaN,3.75000,NaN,NaN,NaN,6.227546
2000-02-01,246.585907,NaN,NaN,NaN,5.061888,9.223397,26.063131,NaN,NaN,NaN,...,NaN,NaN,NaN,8.870208,NaN,7.37500,NaN,NaN,NaN,5.879422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-01,690.306335,22.920000,14.260000,78.867676,13.556043,46.408180,54.285213,4.940793,2.480,27.895920,...,18.555727,31.580000,44.290001,27.826420,1897.316406,5.18000,160.000000,13.71,1944.0,230.274567
2024-06-01,687.853210,21.980000,13.670000,76.260002,12.861370,44.735172,51.193146,4.629781,1.998,26.549999,...,19.906872,28.760000,52.360001,24.824409,1922.033936,4.65000,190.600006,13.87,2214.0,225.062576
2024-07-01,818.000000,23.700001,13.950000,80.860001,14.379726,54.602348,53.759998,5.033655,2.145,28.410000,...,21.843512,30.780001,55.259998,28.689289,1799.435059,4.45000,218.000000,17.73,1998.0,245.424240
2024-08-01,783.000000,18.450001,14.830000,87.059998,14.140000,53.509308,55.180000,5.398128,2.070,31.180000,...,20.672520,31.950001,63.849998,25.101889,1719.350342,4.44000,210.500000,16.52,1774.0,254.734711
2024-09-01,778.000000,17.590000,16.309999,94.019997,13.180000,49.740002,49.630001,5.160000,1.978,33.490002,...,22.900000,30.600000,59.259998,23.410000,1723.000000,4.46000,200.000000,15.62,1661.0,252.580002

In [98]:
len(df_monthly_adj_close.columns)

1658

In [96]:
df_monthly_adj_close.to_csv('../data/10_monthly_adjacent_close.csv')