In [1]:
import pandas as pd
import numpy as np

## Handling null values

In [2]:
df_overview = pd.read_csv('../../data/df_overview.csv', index_col=0)
df_overview

,company_name,company_esg_score,company_esg_score_group,industry,stock_exchange,stock_ticker_symbol,market_capital,market_capital_euro,trailing_pe,beta,...,market_capital_scale,score,return_rate_1y_avg,return_rate_5y_avg,return_rate_10y_avg,return_rate_25y_avg,volatility_1y,volatility_5y,volatility_10y,volatility_25y
0,RS Group Plc,4.5,Negligible ESG Risk,Technology Hardware,LON,RS1.L,3.668791e+09,4.365861e+09,19.858974,0.863,...,0.000273,0.000205,1.220310e+20,9.582467e+31,inf,inf,0.087301,0.077095,0.080958,0.070405
1,"Kimball Electronics, Inc.",4.5,Negligible ESG Risk,Technology Hardware,NAS,KE,4.281351e+08,3.938843e+08,21.370369,1.258,...,0.000024,0.000018,1.755820e+09,2.651438e+14,2.149945e+14,7.250722e+05,0.113517,0.121907,0.107696,0.109874
2,TAG Immobilien AG,4.6,Negligible ESG Risk,Real Estate,ETR,TEG.DE,2.765612e+09,2.765612e+09,NaN,1.037,...,0.000173,0.001743,1.116313e+08,5.213599e+12,4.656207e+12,6.326721e+09,0.048812,0.110536,0.086843,0.107509
3,LEG Immobilien SE,5.1,Negligible ESG Risk,Real Estate,ETR,LEG.DE,6.927171e+09,6.927171e+09,NaN,0.957,...,0.000434,0.010003,2.386086e+13,1.479650e+21,4.685357e+21,7.268791e+09,0.045413,0.096099,0.076336,0.073152
4,"Steelcase, Inc.",5.3,Negligible ESG Risk,Commercial Services,NYS,SCS,1.492860e+09,1.373431e+09,17.210526,1.314,...,0.000086,0.012968,7.129872e+07,1.162105e+11,1.080623e+12,4.159314e+10,0.098340,0.107276,0.110439,0.106744
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1657,"KVH Industries, Inc. (Delaware)",20.0,Low ESG Risk,Technology Hardware,NAS,KVHI,9.127629e+07,9.127629e+07,NaN,0.594,...,0.000006,0.250004,5.196034e+04,1.262182e+10,1.507573e+11,5.239259e+11,0.062548,0.096730,0.097912,0.132169
1658,Moonpig Group Plc,20.0,Low ESG Risk,Retailing,LON,MOON.L,7.018797e+08,7.018797e+08,2035.000000,1.238,...,0.000044,0.250033,7.382542e+15,8.713585e+19,9.334658e+09,9.728354e+03,0.110878,0.127531,0.127531,0.127531
1659,"NeoGenomics, Inc.",20.0,Low ESG Risk,Pharmaceuticals,NAS,NEO,1.940312e+09,1.940312e+09,NaN,1.191,...,0.000121,0.250091,1.903731e+08,3.479099e+14,2.868780e+13,7.203218e+05,0.140224,0.172588,0.146487,0.170531
1660,"Japan Material Co., Ltd.",20.0,Low ESG Risk,Semiconductors,TKS,6055.T,1.704423e+11,1.704423e+11,27.933996,0.585,...,0.010681,0.258011,1.363223e+23,5.859772e+35,inf,inf,0.099552,0.098429,0.111821,0.116846
1661,Union Pacific Corp.,20.0,Low ESG Risk,Transportation,NYS,UNP,1.529757e+11,1.529757e+11,23.622766,1.053,...,0.009587,0.257190,4.669367e+16,2.450236e+25,5.723986e+24,inf,0.047961,0.071276,0.067323,0.067227

In [3]:
print(df_overview.isnull().sum())

company_name                 0
company_esg_score            0
company_esg_score_group      0
industry                     0
stock_exchange               0
stock_ticker_symbol          0
market_capital               8
market_capital_euro          8
trailing_pe                362
beta                        59
return_on_equity           100
earnings_growth            504
company_esg_score_scale      0
market_capital_scale         8
score                        8
return_rate_1y_avg           5
return_rate_5y_avg           4
return_rate_10y_avg          4
return_rate_25y_avg          4
volatility_1y                5
volatility_5y                4
volatility_10y               4
volatility_25y               4
dtype: int64

#### Replace numpy infinity with nan

In [4]:
df_overview.replace([np.inf, -np.inf], np.nan, inplace=True)

### Market capital

In [5]:
df_overview['market_capital_euro'].astype(np.float64).astype(str)
df_overview.drop(df_overview[df_overview['market_capital_euro'].isnull() == True].index, inplace=True)
df_overview

,company_name,company_esg_score,company_esg_score_group,industry,stock_exchange,stock_ticker_symbol,market_capital,market_capital_euro,trailing_pe,beta,...,market_capital_scale,score,return_rate_1y_avg,return_rate_5y_avg,return_rate_10y_avg,return_rate_25y_avg,volatility_1y,volatility_5y,volatility_10y,volatility_25y
0,RS Group Plc,4.5,Negligible ESG Risk,Technology Hardware,LON,RS1.L,3.668791e+09,4.365861e+09,19.858974,0.863,...,0.000273,0.000205,1.220310e+20,9.582467e+31,NaN,NaN,0.087301,0.077095,0.080958,0.070405
1,"Kimball Electronics, Inc.",4.5,Negligible ESG Risk,Technology Hardware,NAS,KE,4.281351e+08,3.938843e+08,21.370369,1.258,...,0.000024,0.000018,1.755820e+09,2.651438e+14,2.149945e+14,7.250722e+05,0.113517,0.121907,0.107696,0.109874
2,TAG Immobilien AG,4.6,Negligible ESG Risk,Real Estate,ETR,TEG.DE,2.765612e+09,2.765612e+09,NaN,1.037,...,0.000173,0.001743,1.116313e+08,5.213599e+12,4.656207e+12,6.326721e+09,0.048812,0.110536,0.086843,0.107509
3,LEG Immobilien SE,5.1,Negligible ESG Risk,Real Estate,ETR,LEG.DE,6.927171e+09,6.927171e+09,NaN,0.957,...,0.000434,0.010003,2.386086e+13,1.479650e+21,4.685357e+21,7.268791e+09,0.045413,0.096099,0.076336,0.073152
4,"Steelcase, Inc.",5.3,Negligible ESG Risk,Commercial Services,NYS,SCS,1.492860e+09,1.373431e+09,17.210526,1.314,...,0.000086,0.012968,7.129872e+07,1.162105e+11,1.080623e+12,4.159314e+10,0.098340,0.107276,0.110439,0.106744
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1657,"KVH Industries, Inc. (Delaware)",20.0,Low ESG Risk,Technology Hardware,NAS,KVHI,9.127629e+07,9.127629e+07,NaN,0.594,...,0.000006,0.250004,5.196034e+04,1.262182e+10,1.507573e+11,5.239259e+11,0.062548,0.096730,0.097912,0.132169
1658,Moonpig Group Plc,20.0,Low ESG Risk,Retailing,LON,MOON.L,7.018797e+08,7.018797e+08,2035.000000,1.238,...,0.000044,0.250033,7.382542e+15,8.713585e+19,9.334658e+09,9.728354e+03,0.110878,0.127531,0.127531,0.127531
1659,"NeoGenomics, Inc.",20.0,Low ESG Risk,Pharmaceuticals,NAS,NEO,1.940312e+09,1.940312e+09,NaN,1.191,...,0.000121,0.250091,1.903731e+08,3.479099e+14,2.868780e+13,7.203218e+05,0.140224,0.172588,0.146487,0.170531
1660,"Japan Material Co., Ltd.",20.0,Low ESG Risk,Semiconductors,TKS,6055.T,1.704423e+11,1.704423e+11,27.933996,0.585,...,0.010681,0.258011,1.363223e+23,5.859772e+35,NaN,NaN,0.099552,0.098429,0.111821,0.116846
1661,Union Pacific Corp.,20.0,Low ESG Risk,Transportation,NYS,UNP,1.529757e+11,1.529757e+11,23.622766,1.053,...,0.009587,0.257190,4.669367e+16,2.450236e+25,5.723986e+24,NaN,0.047961,0.071276,0.067323,0.067227

### Trailing P/E Ratio

Fill 'trailing_pe' column's null values with the mean of its respective industry

In [6]:
df_overview['trailing_pe'] = df_overview['trailing_pe'].fillna(df_overview.groupby('industry')['trailing_pe'].transform('mean'))

The rest if any are filled with the overall mean value of all stocks combined

In [7]:
df_overview['trailing_pe'] = df_overview['trailing_pe'].fillna(df_overview['trailing_pe'].notnull().mean())

### Beta

Fill 'Beta' column's null values with the mean of its respective industry

In [8]:
df_overview['beta'] = df_overview['beta'].fillna(df_overview.groupby('industry')['beta'].transform('mean'))

The rest if any are filled with the overall mean value of all stocks combined

In [9]:
df_overview['beta'] = df_overview['beta'].fillna(df_overview['beta'].notnull().mean())

## Return on equity

Fill 'Beta' column's null values with the mean of its respective industry

In [10]:
df_overview['return_on_equity'] = df_overview['return_on_equity'].fillna(df_overview.groupby('industry')['return_on_equity'].transform('mean'))

The rest if any are filled with the overall mean value of all stocks combined

In [11]:
df_overview['return_on_equity'] = df_overview['return_on_equity'].fillna(df_overview['return_on_equity'].notnull().mean())

In [12]:
df_overview

,company_name,company_esg_score,company_esg_score_group,industry,stock_exchange,stock_ticker_symbol,market_capital,market_capital_euro,trailing_pe,beta,...,market_capital_scale,score,return_rate_1y_avg,return_rate_5y_avg,return_rate_10y_avg,return_rate_25y_avg,volatility_1y,volatility_5y,volatility_10y,volatility_25y
0,RS Group Plc,4.5,Negligible ESG Risk,Technology Hardware,LON,RS1.L,3.668791e+09,4.365861e+09,19.858974,0.863,...,0.000273,0.000205,1.220310e+20,9.582467e+31,NaN,NaN,0.087301,0.077095,0.080958,0.070405
1,"Kimball Electronics, Inc.",4.5,Negligible ESG Risk,Technology Hardware,NAS,KE,4.281351e+08,3.938843e+08,21.370369,1.258,...,0.000024,0.000018,1.755820e+09,2.651438e+14,2.149945e+14,7.250722e+05,0.113517,0.121907,0.107696,0.109874
2,TAG Immobilien AG,4.6,Negligible ESG Risk,Real Estate,ETR,TEG.DE,2.765612e+09,2.765612e+09,60.117208,1.037,...,0.000173,0.001743,1.116313e+08,5.213599e+12,4.656207e+12,6.326721e+09,0.048812,0.110536,0.086843,0.107509
3,LEG Immobilien SE,5.1,Negligible ESG Risk,Real Estate,ETR,LEG.DE,6.927171e+09,6.927171e+09,60.117208,0.957,...,0.000434,0.010003,2.386086e+13,1.479650e+21,4.685357e+21,7.268791e+09,0.045413,0.096099,0.076336,0.073152
4,"Steelcase, Inc.",5.3,Negligible ESG Risk,Commercial Services,NYS,SCS,1.492860e+09,1.373431e+09,17.210526,1.314,...,0.000086,0.012968,7.129872e+07,1.162105e+11,1.080623e+12,4.159314e+10,0.098340,0.107276,0.110439,0.106744
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1657,"KVH Industries, Inc. (Delaware)",20.0,Low ESG Risk,Technology Hardware,NAS,KVHI,9.127629e+07,9.127629e+07,56.325686,0.594,...,0.000006,0.250004,5.196034e+04,1.262182e+10,1.507573e+11,5.239259e+11,0.062548,0.096730,0.097912,0.132169
1658,Moonpig Group Plc,20.0,Low ESG Risk,Retailing,LON,MOON.L,7.018797e+08,7.018797e+08,2035.000000,1.238,...,0.000044,0.250033,7.382542e+15,8.713585e+19,9.334658e+09,9.728354e+03,0.110878,0.127531,0.127531,0.127531
1659,"NeoGenomics, Inc.",20.0,Low ESG Risk,Pharmaceuticals,NAS,NEO,1.940312e+09,1.940312e+09,50.163413,1.191,...,0.000121,0.250091,1.903731e+08,3.479099e+14,2.868780e+13,7.203218e+05,0.140224,0.172588,0.146487,0.170531
1660,"Japan Material Co., Ltd.",20.0,Low ESG Risk,Semiconductors,TKS,6055.T,1.704423e+11,1.704423e+11,27.933996,0.585,...,0.010681,0.258011,1.363223e+23,5.859772e+35,NaN,NaN,0.099552,0.098429,0.111821,0.116846
1661,Union Pacific Corp.,20.0,Low ESG Risk,Transportation,NYS,UNP,1.529757e+11,1.529757e+11,23.622766,1.053,...,0.009587,0.257190,4.669367e+16,2.450236e+25,5.723986e+24,NaN,0.047961,0.071276,0.067323,0.067227

## Returns

In order to make sure that both serial-data and static-data dataframe have the same tickers, we do a two-way intersection between both dataframes. 
Filter out unavailable ticker symbols. Here we do a two-way intersection.

1. From serial-data dataframe we select only the items that are also found in the static-data dataframe.
2. Then from static-data dataframe we select only the items that are also available in the serial-data dataframe.

In [13]:
df_time_series = pd.read_csv('../../data/df_monthly_returns_complete.csv', index_col='Date')

In [14]:
tickers_valid = df_overview['stock_ticker_symbol'].array
df_time_series = df_time_series[df_time_series.columns.intersection(tickers_valid)]

In [15]:
df_overview = df_overview.loc[df_overview['stock_ticker_symbol'].isin(df_time_series.columns.tolist())]

In [16]:
indices = df_time_series.index

#### Handle Time-Series Null & Zero Values

In [17]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=5)
df_time_series = pd.DataFrame(imputer.fit_transform(df_time_series), 
                              columns=df_time_series.columns)
#
df_time_series.reset_index(drop=True, inplace=True)
df_time_series.index = indices

# Fill Null values
df_time_series = df_time_series.fillna(df_time_series.rolling(window=3, min_periods=1).mean()) 

# Remove Zeros
def replace_with_rolling_mean(series, window):
    rolling_mean = series.rolling(window=window, min_periods=1).mean()
    series = series.mask(series == 0, rolling_mean)
    return series
df_time_series = df_time_series.apply(lambda col: replace_with_rolling_mean(col, window=2))

In [18]:
df_time_series.rolling(window=3, min_periods=1).mean()

,RS1.L,KE,TEG.DE,LEG.DE,SCS,HNI,AVT,ACCO,VNA.DE,7912.T,...,DEQ.DE,KIDS,HALO,MATW,9842.T,KVHI,MOON.L,NEO,6055.T,UNP
Date,,,,,,,,,,,,,,,,,,,,,
1999-10-01,192.424942,11.570000,44.819553,30.297156,5.165832,9.774066,21.209171,12.130485,8.585901,2008.531665,...,7.348418,23.750000,2.934000,9.178375,387.510425,3.062500,195.460001,0.400000,56.376208,8.588829
1999-11-01,205.288574,11.570000,44.819553,30.297156,5.242553,10.272108,21.282056,12.323942,8.585901,2037.376978,...,7.348418,23.750000,2.934000,8.843948,387.510425,3.046875,195.460001,0.400000,56.376208,7.919632
1999-12-01,217.388596,11.570000,44.819553,30.297156,5.131736,10.506165,22.027094,12.388428,8.585901,2029.351636,...,7.348418,23.750000,2.934000,9.250975,387.510425,3.052083,195.460001,0.400000,56.376208,7.523249
2000-01-01,235.442251,11.570000,44.819553,30.297156,4.976565,10.458093,21.931897,11.389279,8.585901,2030.941398,...,7.348418,23.750000,2.934000,9.028024,387.510425,3.281250,195.460001,0.400000,56.376208,6.736155
2000-02-01,244.920151,11.626667,42.010350,32.597008,4.890770,9.942509,23.501294,13.163788,9.087079,1963.119743,...,7.410301,23.262000,3.004000,9.148252,448.823458,4.729167,203.873334,0.394000,56.568019,6.279150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-01,708.884603,21.833333,13.441667,77.903348,12.761235,44.100101,50.615508,4.996519,26.920854,4714.319661,...,17.558881,30.123333,41.023333,28.284792,1863.041463,5.026667,161.700002,14.450000,2194.941325,236.027623
2024-06-01,700.445882,21.943333,13.773334,77.571299,12.754746,44.173701,51.355536,4.749761,26.924231,4967.333333,...,18.495675,29.990000,44.916667,26.383749,1913.135620,4.876667,168.800003,13.833333,2137.333333,229.968079
2024-07-01,732.053182,22.866667,13.960000,78.662560,13.599046,48.581900,53.079453,4.868076,27.618640,5088.666667,...,20.102037,30.373334,50.636667,27.113373,1872.928467,4.760000,189.533335,15.103333,2052.000000,233.587128
2024-08-01,762.951070,21.376667,14.150000,81.393333,13.793699,50.948943,53.377715,5.020521,28.713333,5210.333333,...,20.807634,30.496667,57.156666,26.205196,1813.606445,4.513333,206.366669,16.040000,1995.333333,241.740509
2024-09-01,793.000000,19.913334,15.030000,87.313332,13.899909,52.617219,52.856667,5.197261,31.026667,5133.000000,...,21.805344,31.110001,59.456665,25.733726,1747.261800,4.450000,209.500000,16.623333,1811.000000,250.912984

In [19]:
df_time_series

,RS1.L,KE,TEG.DE,LEG.DE,SCS,HNI,AVT,ACCO,VNA.DE,7912.T,...,DEQ.DE,KIDS,HALO,MATW,9842.T,KVHI,MOON.L,NEO,6055.T,UNP
Date,,,,,,,,,,,,,,,,,,,,,
1999-10-01,192.424942,11.570000,44.819553,30.297156,5.165832,9.774066,21.209171,12.130485,8.585901,2008.531665,...,7.348418,23.750000,2.934000,9.178375,387.510425,3.06250,195.460001,0.400,56.376208,8.588829
1999-11-01,218.152206,11.570000,44.819553,30.297156,5.319274,10.770150,21.354940,12.517400,8.585901,2066.222290,...,7.348418,23.750000,2.934000,8.509521,387.510425,3.03125,195.460001,0.400,56.376208,7.250434
1999-12-01,241.588638,11.570000,44.819553,30.297156,4.910100,10.974279,23.517170,12.517400,8.585901,2013.300952,...,7.348418,23.750000,2.934000,10.065028,387.510425,3.06250,195.460001,0.400,56.376208,6.730484
2000-01-01,246.585907,11.570000,44.819553,30.297156,4.700321,9.629849,20.923582,9.133037,8.585901,2013.300952,...,7.348418,23.750000,2.934000,8.509521,387.510425,3.75000,195.460001,0.400,56.376208,6.227546
2000-02-01,246.585907,11.740000,36.391943,37.196711,5.061888,9.223397,26.063131,17.840927,10.089434,1862.757324,...,7.534067,22.286000,3.144000,8.870208,571.449524,7.37500,220.700000,0.382,56.951643,5.879422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-01,690.306335,22.920000,14.260000,78.867676,13.556043,46.408180,54.285213,4.940793,27.895920,4884.000000,...,18.555727,31.580000,44.290001,27.826420,1897.316406,5.18000,160.000000,13.710,1944.000000,230.274567
2024-06-01,687.853210,21.980000,13.670000,76.260002,12.861370,44.735172,51.193146,4.629781,26.549999,5412.000000,...,19.906872,28.760000,52.360001,24.824409,1922.033936,4.65000,190.600006,13.870,2214.000000,225.062576
2024-07-01,818.000000,23.700001,13.950000,80.860001,14.379726,54.602348,53.759998,5.033655,28.410000,4970.000000,...,21.843512,30.780001,55.259998,28.689289,1799.435059,4.45000,218.000000,17.730,1998.000000,245.424240
2024-08-01,783.000000,18.450001,14.830000,87.059998,14.140000,53.509308,55.180000,5.398128,31.180000,5249.000000,...,20.672520,31.950001,63.849998,25.101889,1719.350342,4.44000,210.500000,16.520,1774.000000,254.734711
2024-09-01,778.000000,17.590000,16.309999,94.019997,13.180000,49.740002,49.630001,5.160000,33.490002,5180.000000,...,22.900000,30.600000,59.259998,23.410000,1723.000000,4.46000,200.000000,15.620,1661.000000,252.580002

## Save Dataframe

In [20]:
df_overview.to_csv('../../data/df_overview.csv')
df_time_series.to_csv('../../data/df_monthly_returns_complete.csv')