In [91]:
import pandas
import pandas as pd
import datetime

In [92]:
df = pd.read_csv('../../../data/df_monthly_returns_complete_percentage.csv', index_col='Date')

In [93]:
df.head()

,RS1.L,KE,TEG.DE,LEG.DE,SCS,HNI,AVT,ACCO,VNA.DE,7912.T,...,DEQ.DE,KIDS,HALO,MATW,9842.T,KVHI,MOON.L,NEO,6055.T,UNP
Date,,,,,,,,,,,,,,,,,,,,,
1999-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-11-01,1.13,1.00,1.00,1.00,1.03,1.10,1.01,1.03,1.00,1.03,...,1.00,1.00,1.00,0.93,1.00,0.99,1.00,1.00,1.00,0.84
1999-12-01,1.11,1.00,1.00,1.00,0.92,1.02,1.10,1.00,1.00,0.97,...,1.00,1.00,1.00,1.18,1.00,1.01,1.00,1.00,1.00,0.93
2000-01-01,1.02,1.00,1.00,1.00,0.96,0.88,0.89,0.73,1.00,1.00,...,1.00,1.00,1.00,0.85,1.00,1.22,1.00,1.00,1.00,0.93
2000-02-01,1.00,1.01,0.81,1.23,1.08,0.96,1.25,1.95,1.18,0.93,...,1.03,0.94,1.07,1.04,1.47,1.97,1.13,0.95,1.01,0.94

### Ticker to index

In [94]:
df_T = df.copy(True)
df_T.rename_axis('ticker', inplace=True)
df_T = df_T.T
df_T.head(5)

ticker,1999-10-01,1999-11-01,1999-12-01,2000-01-01,2000-02-01,2000-03-01,2000-04-01,2000-05-01,2000-06-01,2000-07-01,...,2023-12-01,2024-01-01,2024-02-01,2024-03-01,2024-04-01,2024-05-01,2024-06-01,2024-07-01,2024-08-01,2024-09-01
RS1.L,NaN,1.13,1.11,1.02,1.00,1.00,1.00,1.00,1.00,1.01,...,1.11,0.96,0.96,0.96,1.01,0.95,1.00,1.19,0.96,0.99
KE,NaN,1.00,1.00,1.00,1.01,1.00,1.00,1.00,1.00,1.00,...,1.09,0.88,0.95,0.96,0.97,1.10,0.96,1.08,0.78,0.95
TEG.DE,NaN,1.00,1.00,1.00,0.81,1.12,1.00,0.90,1.12,1.00,...,1.05,0.99,0.86,1.12,1.06,1.06,0.96,1.02,1.06,1.10
LEG.DE,NaN,1.00,1.00,1.00,1.23,1.03,1.00,1.00,1.00,1.00,...,1.13,0.98,0.88,1.17,1.00,1.02,0.97,1.06,1.08,1.08
SCS,NaN,1.03,0.92,0.96,1.08,0.98,0.99,1.04,1.39,1.01,...,1.10,0.94,1.09,0.95,0.92,1.14,0.95,1.12,0.98,0.93

### Dates as row

In [95]:
df.loc['1999-11-01', 'RS1.L']

1.13

In [96]:
dt = datetime.datetime.strptime('2005-11-01', "%Y-%m-%d")
df.loc[(dt - pd.DateOffset(months=12)).strftime('%Y-%m-%d'), 'SCS']

1.02

In [97]:
# Define Function:
def getvalue(data, date, ticker, months):
    dt = datetime.datetime.strptime(date, "%Y-%m-%d")
    try:
        m = months * -1 if months > 0 else months
        offset = pd.DateOffset(months=m) if months > 0 else - pd.DateOffset(months=months)
        return df.loc[(dt + offset).strftime('%Y-%m-%d'), ticker]
    except KeyError:
        return None

In [ ]:
df_tabular = pd.DataFrame(columns=['ticker', 'month', 'year', 'monthly_return'])

tickers = df.columns
dates = df.index

ticker_column = []
month_column = []
year_column = []
monthly_return_column_minus12 = []
monthly_return_column_minus11 = []
monthly_return_column_minus10 = []
monthly_return_column_minus9 = []
monthly_return_column_minus8 = []
monthly_return_column_minus7 = []
monthly_return_column_minus6 = []
monthly_return_column_minus5 = []
monthly_return_column_minus4 = []
monthly_return_column_minus3 = []
monthly_return_column_minus2 = []
monthly_return_column_minus1 = []
monthly_return_column = []
monthly_return_column_plus1 = []

for i, ticker in enumerate(tickers):
    for j, date in enumerate(dates):
        ticker_column.append(ticker)
        #
        dt = datetime.datetime.strptime(date, "%Y-%m-%d")
        month_column.append(dt.month)
        year_column.append(dt.year)
        #
        monthly_return = df.iloc
        monthly_return_column_minus12.append( getvalue(df, date, ticker, -12) )
        monthly_return_column_minus11.append( getvalue(df, date, ticker, -11) )
        monthly_return_column_minus10.append( getvalue(df, date, ticker, -10) )
        monthly_return_column_minus9.append( getvalue(df, date, ticker, -9) )
        monthly_return_column_minus8.append( getvalue(df, date, ticker, -8) )
        monthly_return_column_minus7.append( getvalue(df, date, ticker, -7) )
        monthly_return_column_minus6.append( getvalue(df, date, ticker, -6) )
        monthly_return_column_minus5.append( getvalue(df, date, ticker, -5) )
        monthly_return_column_minus4.append( getvalue(df, date, ticker, -4) )
        monthly_return_column_minus3.append( getvalue(df, date, ticker, -3) )
        monthly_return_column_minus2.append( getvalue(df, date, ticker, -2) )
        monthly_return_column_minus1.append( getvalue(df, date, ticker, -1) )
        monthly_return_column.append(df.loc[date, ticker])
        monthly_return_column_minus3.append( getvalue(df, date, ticker, 1) )

            
df_tabular = pd.DataFrame(data={
    'ticker': ticker_column, 
    'month': month_column, 
    'year': year_column, 
    'm_return(t-12)': monthly_return_column_minus12,
    'm_return(t-11)': monthly_return_column_minus11,
    'm_return(t-10)': monthly_return_column_minus10,
    'm_return(t-9)': monthly_return_column_minus9,
    'm_return(t-8)': monthly_return_column_minus8,
    'm_return(t-7)': monthly_return_column_minus7,
    'm_return(t-6)': monthly_return_column_minus6,
    'm_return(t-5)': monthly_return_column_minus5,
    'm_return(t-4)': monthly_return_column_minus4,
    'm_return(t-3)': monthly_return_column_minus3,
    'm_return(t-2)': monthly_return_column_minus2,
    'm_return(t-1)': monthly_return_column_minus1,
    'm_return(t)': monthly_return_column,
    'm_return_target(t+1)': monthly_return_column_plus1
})

In [76]:
df_tabular

Empty DataFrame
Columns: [ticker, month, year, monthly_return]
Index: []

In [54]:
train_size = int(len(df) * 0.8)
test_size = len(df) - train_size
train, test = df[:train_size], df[train_size:]