# Modeling

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data/data_10_monthly_returns_complete.csv') 
df

,Unnamed: 0,Date,KE,SCS,HNI,AVT,ACCO,KEYS,CBRE,BRC,...,ENPH,RUN,SUP,MATX,KIDS,HALO,MATW,KVHI,NEO,UNP
0,0,1999-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1999-09-01,NaN,0.94,0.82,0.95,NaN,NaN,NaN,1.07,...,NaN,NaN,1.00,1.00,NaN,NaN,1.11,0.97,NaN,0.99
2,2,1999-10-01,NaN,0.91,1.02,1.30,NaN,NaN,NaN,0.91,...,NaN,NaN,0.95,1.01,NaN,NaN,0.83,1.29,NaN,1.16
3,3,1999-11-01,NaN,1.03,1.10,1.01,NaN,NaN,NaN,1.06,...,NaN,NaN,1.01,0.95,NaN,NaN,0.93,0.99,NaN,0.84
4,4,1999-12-01,NaN,0.92,1.02,1.10,NaN,NaN,NaN,1.11,...,NaN,NaN,1.00,1.01,NaN,NaN,1.18,1.01,NaN,0.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,295,2024-03-01,0.96,0.95,1.01,1.06,1.01,1.01,1.06,1.02,...,0.95,1.09,0.82,1.02,1.06,1.02,1.08,1.07,1.01,0.97
296,296,2024-04-01,0.97,0.92,0.93,0.99,0.87,0.95,0.89,1.00,...,0.90,0.78,1.29,0.96,1.02,0.94,0.87,0.94,0.89,0.96
297,297,2024-05-01,1.10,1.14,1.12,1.12,1.06,0.94,1.01,1.16,...,1.18,1.41,0.94,1.19,1.07,1.16,1.05,1.08,0.98,0.98
298,298,2024-06-01,0.96,0.95,0.96,0.94,0.94,0.99,1.01,0.97,...,0.78,0.82,0.92,1.02,0.91,1.18,0.89,0.90,1.01,0.98
299,299,2024-07-01,1.09,1.09,1.21,1.03,1.09,1.01,1.24,1.09,...,1.20,1.51,1.02,1.00,1.13,1.07,1.12,1.02,1.07,1.06

In [ ]:
# @TODO resume with Decision-Tree