In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/10_monthly_returns_complete.csv')

In [5]:
df[1:]

,Date,KE,SCS,HNI,AVT,ACCO,KEYS,CBRE,BRC,PGRE,...,ENPH,RUN,SUP,MATX,KIDS,HALO,MATW,KVHI,NEO,UNP
1,1999-09-01,NaN,-5.91,-17.98,-5.08,NaN,NaN,NaN,6.67,NaN,...,NaN,NaN,0.00,-0.43,NaN,NaN,11.06,-2.56,NaN,-1.28
2,1999-10-01,NaN,-8.70,1.95,30.36,NaN,NaN,NaN,-9.37,NaN,...,NaN,NaN,-4.69,0.52,NaN,NaN,-16.60,28.95,NaN,16.47
3,1999-11-01,NaN,2.97,10.19,0.69,NaN,NaN,NaN,6.39,NaN,...,NaN,NaN,0.78,-5.21,NaN,NaN,-7.29,-1.02,NaN,-15.58
4,1999-12-01,NaN,-7.69,1.90,10.13,NaN,NaN,NaN,10.59,NaN,...,NaN,NaN,0.00,1.25,NaN,NaN,18.28,1.03,NaN,-7.17
5,2000-01-01,NaN,-4.27,-12.25,-11.03,NaN,NaN,NaN,-16.21,NaN,...,NaN,NaN,0.47,-11.51,NaN,NaN,-15.45,22.45,NaN,-7.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,2024-03-01,-3.82,-4.80,1.48,6.42,0.54,1.35,5.82,1.72,5.87,...,-4.75,9.47,-18.31,1.50,6.19,2.19,8.17,7.37,0.77,-2.56
296,2024-04-01,-3.33,-8.03,-7.05,-0.79,-12.87,-5.40,-10.64,-0.47,-0.28,...,-10.10,-21.93,28.97,-4.11,1.61,-6.34,-13.19,-5.88,-11.45,-3.57
297,2024-05-01,9.51,14.43,12.16,11.72,5.60,-6.39,1.36,16.17,-1.94,...,17.60,40.52,-5.61,18.95,6.58,16.25,5.00,7.92,-1.51,-1.83
298,2024-06-01,-4.10,-5.12,-3.60,-5.70,-6.29,-1.25,1.18,-3.30,1.76,...,-22.04,-17.98,-7.93,2.45,-8.93,18.22,-10.79,-10.23,1.17,-2.26
299,2024-07-01,8.01,8.80,11.53,3.72,5.11,1.77,11.28,7.44,15.79,...,3.94,45.62,7.08,-1.64,17.07,5.81,11.62,0.86,7.64,5.85