In [128]:
import pandas as pd

### Reading file

In [129]:
df = pd.read_csv('../data/data_esg_raw.csv') 
df.head(5)

,company_name,ticker_symbol,company_esg_score,company_esg_score_group,industry
0,HENSOLDT AG,ETR:HAG,14.9,Low ESG Risk,Aerospace & Defense
1,Aptiv Plc,NYS:APTV,9.1,Negligible ESG Risk,Auto Components
2,"BorgWarner, Inc.",NYS:BWA,10.0,Negligible ESG Risk,Auto Components
3,Bosch Fren Sistemleri Sanayi ve Ticaret AS,IST:BFREN.E,8.1,Negligible ESG Risk,Auto Components
4,Bosch Ltd.,BOM:500530,6.5,Negligible ESG Risk,Auto Components

### Sort by ESG score

In [130]:
df_sorted = df.sort_values('company_esg_score')
df_sorted

,company_name,ticker_symbol,company_esg_score,company_esg_score_group,industry
2581,ROADIS Transportation Holding SLU,-,4.0,Negligible ESG Risk,Transportation Infrastructure
1619,Dexus,ASX:DXS,4.2,Negligible ESG Risk,Real Estate
783,JAB Holding Co. SARL,-,4.2,Negligible ESG Risk,Diversified Financials
2577,Entidad Pública Empresarial ADIF-Alta Velocidad,-,4.3,Negligible ESG Risk,Transportation Infrastructure
2146,RS Group Plc,LON:RS1,4.5,Negligible ESG Risk,Technology Hardware
...,...,...,...,...,...
2279,Orange SA,PAR:ORA,20.0,Low ESG Risk,Telecommunication Services
1825,Arclands Corp.,TKS:9842,20.0,Low ESG Risk,Retailing
1134,International Finance Facility for Immunisatio...,-,20.0,Low ESG Risk,Healthcare
1946,"Japan Material Co., Ltd.",TKS:6055,20.0,Low ESG Risk,Semiconductors
225,"BDO Unibank, Inc.",PHS:BDO,20.0,Low ESG Risk,Banks

In [131]:
len(df_sorted)

2783

### Remove stocks without a valid stock exchange

In [132]:
len(df_sorted[df_sorted['ticker_symbol'] != '-'])

2380

In [133]:
df_sorted[df_sorted['ticker_symbol'] != '-']

,company_name,ticker_symbol,company_esg_score,company_esg_score_group,industry
1619,Dexus,ASX:DXS,4.2,Negligible ESG Risk,Real Estate
2146,RS Group Plc,LON:RS1,4.5,Negligible ESG Risk,Technology Hardware
2134,"Kimball Electronics, Inc.",NAS:KE,4.5,Negligible ESG Risk,Technology Hardware
1682,TAG Immobilien AG,ETR:TEG,4.6,Negligible ESG Risk,Real Estate
1687,Unibail-Rodamco-Westfield SE,PAR:URW,4.7,Negligible ESG Risk,Real Estate
...,...,...,...,...,...
2286,"Taiwan Mobile Co., Ltd.",TAI:3045,20.0,Low ESG Risk,Telecommunication Services
2279,Orange SA,PAR:ORA,20.0,Low ESG Risk,Telecommunication Services
1825,Arclands Corp.,TKS:9842,20.0,Low ESG Risk,Retailing
1946,"Japan Material Co., Ltd.",TKS:6055,20.0,Low ESG Risk,Semiconductors
225,"BDO Unibank, Inc.",PHS:BDO,20.0,Low ESG Risk,Banks

### Create new columns "stock_exchange" & "stock_ticker_symbol"

In [134]:
# Create new column stock_exchange by splitting ticker_symbol
df_sorted['stock_exchange'] = df_sorted['ticker_symbol'].str.split(':').str[0]

In [135]:
# Create new column stock_ticker_symbol by splitting ticker_symbol
df_sorted['stock_ticker_symbol'] = df_sorted['ticker_symbol'].str.split(':').str[1]

In [136]:
df_sorted[df_sorted['ticker_symbol'] != '-']['stock_exchange'].value_counts('')

stock_exchange
NYS     338
NAS     257
TKS     196
LON     137
TAI     104
OME      95
BOM      94
HKG      93
PAR      85
ETR      81
TSE      78
ASX      68
MIL      59
KRX      53
SWX      51
BSP      47
MCE      44
SHE      36
AMS      33
OSL      32
BKK      27
KLS      27
IST      27
SES      27
SHG      26
BRU      23
HEL      22
ROCO     20
JSE      19
CSE      18
MEX      17
WAR      17
WBO      14
NZE      13
TAE      13
LIS      12
JKT      10
SGO       7
ATH       7
DUB       7
ADS       6
BOG       6
SAU       5
PHS       5
OTC       4
DFM       3
KUW       2
HAM       2
ASE       2
ICE       2
CAI       2
BSE       1
BER       1
BUD       1
STC       1
LIM       1
LIT       1
FRA       1
Name: count, dtype: int64

### Selected Stock-Exchanges

In [137]:
len(df_sorted)

2783

### Filter Stock Exchanges

In [138]:
# drop existing column "stock_ticker_symbol"
df_sorted = df_sorted.drop(columns=['ticker_symbol'])

In [139]:
# Filter by a single column value 
df_filtered = df_sorted[df_sorted['stock_exchange'].isin(['NYS', 'NAS', 'TKS', 'LON', 'ETR'])]
len(df_filtered)

1009

In [140]:
df_filtered

,company_name,company_esg_score,company_esg_score_group,industry,stock_exchange,stock_ticker_symbol
2146,RS Group Plc,4.5,Negligible ESG Risk,Technology Hardware,LON,RS1
2134,"Kimball Electronics, Inc.",4.5,Negligible ESG Risk,Technology Hardware,NAS,KE
1682,TAG Immobilien AG,4.6,Negligible ESG Risk,Real Estate,ETR,TEG
1650,LEG Immobilien SE,5.1,Negligible ESG Risk,Real Estate,ETR,LEG
391,"Steelcase, Inc.",5.3,Negligible ESG Risk,Commercial Services,NYS,SCS
...,...,...,...,...,...,...
1545,"NeoGenomics, Inc.",20.0,Low ESG Risk,Pharmaceuticals,NAS,NEO
2564,Union Pacific Corp.,20.0,Low ESG Risk,Transportation,NYS,UNP
484,Matthews International Corp.,20.0,Low ESG Risk,Commercial Services,NAS,MATW
1825,Arclands Corp.,20.0,Low ESG Risk,Retailing,TKS,9842
1946,"Japan Material Co., Ltd.",20.0,Low ESG Risk,Semiconductors,TKS,6055

In [141]:
pd.to_csv('../data/esg_data_raw.csv')

AttributeError: module 'pandas' has no attribute 'to_csv'

### Adding market capital of companies