In [80]:
import utilities.variables as variables 
import yfinance as yf
import pandas as pd
import numpy as np
import importlib
import utilities.parser as parser
import utilities.data_esg_service as esg_service
import utilities.data_ticker_service as data_ticker_service
importlib.reload(data_ticker_service)
importlib.reload(parser)
importlib.reload(esg_service)

In [6]:
# esg_service.generate_esg_data()
#esg_service.generate_esg_data_for_each_industry()

In [4]:
ticker = yf.Ticker('3462.T')
print(ticker.info)

{'address1': 'Nishishinjuku 8-5-1', 'address2': 'Shinjuku-ku', 'city': 'Tokyo', 'zip': '160-0023', 'country': 'Japan', 'phone': '81 3 3365 8767', 'website': 'https://www.nre-mf.co.jp', 'industry': 'REIT - Retail', 'industryKey': 'reit-retail', 'industryDisp': 'REIT - Retail', 'sector': 'Real Estate', 'sectorKey': 'real-estate', 'sectorDisp': 'Real Estate', 'longBusinessSummary': 'Nomura Real Estate Master Fund, Inc. (NMF) is a real estate investment corporation formed to own and invest primarily in office buildings, retail facilities, logistics and residential facilities. NMF is externally managed by a licensed asset management company, Nomura Real Estate Asset Management Co., Ltd. ("NREAM"). NREAM is a wholly-owned subsidiary of Nomura Real Estate Holdings, Inc. NMF was established on October 1, 2015 through the consolidation type merger involving the former Nomura Real Estate Master Fund, Inc. (hereinafter the "former NMF"), Nomura Real Estate Office Fund, Inc. (hereinafter "NOF") and Nomura Real Estate Residential Fund, Inc. (hereinafter "NRF"), and listed its investment securities (TSE code: 3462) on the Real Estate Investment Trust Section of the Tokyo Stock Exchange on October 2 of the same year.', 'companyOfficers': [{'maxAge': 1, 'name': 'Masaomi  Katayama', 'title': 'President, CEO & Director of Nomura Real Estate Asset Management Co., Ltd', 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Shuhei  Yoshida', 'age': 71, 'title': 'Executive Director', 'yearBorn': 1952, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Fumiki  Kondo', 'title': 'Senior Managing Executive Officer & Director of Nomura Real Estate Asset Management Co., Ltd.', 'exercisedValue': 0, 'unexercisedValue': 0}], 'maxAge': 86400, 'priceHint': 2, 'previousClose': 149900.0, 'open': 149100.0, 'dayLow': 147400.0, 'dayHigh': 149500.0, 'regularMarketPreviousClose': 149900.0, 'regularMarketOpen': 149100.0, 'regularMarketDayLow': 147400.0, 'regularMarketDayHigh': 149500.0, 'dividendRate': 6294.0, 'dividendYield': 0.0425, 'exDividendDate': 1724889600, 'payoutRatio': 1.0008, 'fiveYearAvgDividendYield': 3.75, 'beta': 0.426, 'trailingPE': 23.474178, 'forwardPE': 26.549372, 'volume': 18387, 'regularMarketVolume': 18387, 'averageVolume': 16800, 'averageVolume10days': 13535, 'averageDailyVolume10Day': 13535, 'marketCap': 697849610240, 'fiftyTwoWeekLow': 135800.0, 'fiftyTwoWeekHigh': 174700.0, 'priceToSalesTrailing12Months': 8.344326, 'fiftyDayAverage': 145580.0, 'twoHundredDayAverage': 155444.5, 'trailingAnnualDividendRate': 6714.0, 'trailingAnnualDividendYield': 0.04478986, 'currency': 'JPY', 'enterpriseValue': 1168203710464, 'profitMargins': 0.36703, 'floatShares': 4306581, 'sharesOutstanding': 4715200, 'heldPercentInsiders': 0.12956999, 'heldPercentInstitutions': 0.4806, 'impliedSharesOutstanding': 4768480, 'bookValue': 130363.57, 'priceToBook': 1.1352865, 'lastFiscalYearEnd': 1693440000, 'nextFiscalYearEnd': 1725062400, 'mostRecentQuarter': 1693440000, 'earningsQuarterlyGrowth': 0.241, 'netIncomeToCommon': 30695440384, 'trailingEps': 6304.8, 'forwardEps': 5574.52, 'enterpriseToRevenue': 13.968, 'enterpriseToEbitda': 22.576, '52WeekChange': -0.08093196, 'SandP52WeekChange': 0.24125004, 'lastDividendValue': 3391.0, 'lastDividendDate': 1724889600, 'exchange': 'JPX', 'quoteType': 'EQUITY', 'symbol': '3462.T', 'underlyingSymbol': '3462.T', 'shortName': 'NOMURA REAL ESTATE MASTER FUND ', 'longName': 'Nomura Real Estate Master Fund, Inc.', 'firstTradeDateEpochUtc': 1370995200, 'timeZoneFullName': 'Asia/Tokyo', 'timeZoneShortName': 'JST', 'uuid': 'b4fe6ebc-524b-3870-b8ed-fc18adefa797', 'messageBoardId': 'finmb_331398308', 'gmtOffSetMilliseconds': 32400000, 'currentPrice': 148000.0, 'targetHighPrice': 170000.0, 'targetLowPrice': 160000.0, 'targetMeanPrice': 165500.0, 'targetMedianPrice': 166000.0, 'recommendationMean': 3.2, 'recommendationKey': 'hold', 'numberOfAnalystOpinions': 4, 'totalCash': 51034808320, 'totalCashPerShare': 10823.467, 'ebitda': 51744686080, 'totalDebt': 521388851200, 'quickRatio': 0.824, 'currentRatio': 0.85, 'totalRevenue': 83631628288, 'debtToEquity': 84.821, 'revenuePerShare': 17736.602, 'returnOnAssets': 0.01841, 'returnOnEquity': 0.04992, 'freeCashflow': 32594878464, 'operatingCashflow': 65187676160, 'earningsGrowth': 0.241, 'revenueGrowth': 0.118, 'grossMargins': 0.49852002, 'ebitdaMargins': 0.61872, 'operatingMargins': 0.43376, 'financialCurrency': 'JPY', 'trailingPegRatio': None}

In [22]:
# List of stock symbols
symbols = ['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'TSLA']

# Dictionary to store market capitalizations
market_caps = {}

# Fetch market capitalization for each symbol
for symbol in symbols:
    ticker = yf.Ticker(symbol)
    market_cap = ticker.info.get('marketCap', 'pegRatio')  # Use 'N/A' if marketCap is not available
    market_caps[symbol] = market_cap

# Print the market capitalizations
for symbol, market_cap in market_caps.items():
    print(f"{symbol}: {market_cap}")

AttributeError: 'list' object has no attribute 'upper'

In [ ]:
tickers = yf.Tickers('msft') # 'msft aapl goog'
tickers.tickers['msft'].info

In [8]:
#data = yf.download("MSFT", period="1mo") # start="2022-01-01", end=None
data = yf.download("ROKU", start="1999-01-01", end='2024-01-01', interval="1mo")
data

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-10-01,25.200001,26.280001,18.350000,20.379999,20.379999,103623700
2017-11-01,20.440001,51.799999,18.561001,43.900002,43.900002,344180400
2017-12-01,43.740002,58.799999,37.810001,51.779999,51.779999,155492200
2018-01-01,52.639999,57.416000,39.099998,40.619999,40.619999,118705900
2018-02-01,40.349998,52.700001,39.009998,40.770000,40.770000,100262800
...,...,...,...,...,...,...
2023-08-01,95.510002,98.440002,75.120003,81.199997,81.199997,150684200
2023-09-01,81.830002,95.839996,66.660004,70.589996,70.589996,148829200
2023-10-01,70.209999,75.449997,55.020000,59.570000,59.570000,116384700
2023-11-01,59.139999,108.398003,57.320000,104.199997,104.199997,217872900
2023-12-01,103.589996,108.839996,88.711998,91.660004,91.660004,109982200

In [55]:
data['Monthly Return'] = 1 + data['Adj Close'].pct_change()
data_dropped = data.round(2).dropna()
data_dropped

Date
2017-11-01    2.15
2017-12-01    1.18
2018-01-01    0.78
2018-02-01    1.00
2018-03-01    0.76
              ...
2023-08-01    0.84
2023-09-01    0.87
2023-10-01    0.84
2023-11-01    1.75
2023-12-01    0.88
Name: Monthly Return, Length: 74, dtype: float64

In [65]:
data_dropped.to_list()

[2.15,
 1.18,
 0.78,
 1.0,
 0.76,
 1.05,
 1.15,
 1.14,
 1.07,
 1.31,
 1.23,
 0.76,
 0.73,
 0.75,
 1.47,
 1.47,
 0.97,
 0.99,
 1.42,
 1.0,
 1.14,
 1.46,
 0.67,
 1.45,
 1.09,
 0.83,
 0.9,
 0.94,
 0.77,
 1.39,
 0.9,
 1.06,
 1.33,
 1.12,
 1.09,
 1.07,
 1.45,
 1.13,
 1.17,
 1.02,
 0.82,
 1.05,
 1.01,
 1.32,
 0.93,
 0.82,
 0.89,
 0.97,
 0.75,
 1.0,
 0.72,
 0.85,
 0.9,
 0.74,
 1.02,
 0.87,
 0.8,
 1.04,
 0.83,
 0.98,
 1.07,
 0.69,
 1.41,
 1.13,
 1.02,
 0.85,
 1.04,
 1.1,
 1.51,
 0.84,
 0.87,
 0.84,
 1.75,
 0.88]

In [66]:
current_price = 20.379999
for factor in data_dropped.to_list():
    current_price *= factor
current_price

88.47005754723118

In [30]:
decimal_returns = data['Monthly Return'].notna().to_list()

In [49]:
arithmetic_mean = np.mean(data['Monthly Return'])
arithmetic_mean

5.000637410490707

In [34]:
geometric_mean = np.prod([1 + r for r in decimal_returns]) ** (1/len(decimal_returns)) - 1
geometric_mean

-1.0

In [73]:
pd.Series(['ROKU', 'MSFT']).tolist()

['ROKU', 'MSFT']

In [82]:
df_monthly_returns = data_ticker_service.get_returns_in_chunks(['ROKU', 'MSFT'], '1999-08-01', '2024-08-01', interval='1mo', chunk_size=2, sleep_duration=5)
df_monthly_returns

Downloading data for tickers: ['ROKU', 'MSFT']
Pausing to avoid overloading the API...

                 ROKU        MSFT
Date
1999-08-01        NaN   28.588154
1999-09-01        NaN   27.970472
1999-10-01        NaN   28.588154
1999-11-01        NaN   28.120068
1999-12-01        NaN   36.058556
...               ...         ...
2024-03-01  65.169998  419.962494
2024-04-01  57.660000  388.628998
2024-05-01  57.400002  414.382568
2024-06-01  59.930000  446.950012
2024-07-01  59.040001  425.269989

[300 rows x 2 columns]

In [77]:
df_monthly_returns

NameError: name 'df_monthly_returns' is not defined