In [1]:
# Python
import pandas as pd
import numpy as np
#
from prophet import Prophet
import matplotlib.pyplot as plt
import plotly.graph_objects as go

/Users/herbishtini/anaconda3/envs/portfolio_optimisation/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df = pd.read_csv('../../../data/df_monthly_returns_complete_percentage.csv', index_col='Date')

In [3]:
df

,RS1.L,KE,TEG.DE,LEG.DE,SCS,HNI,AVT,ACCO,VNA.DE,7912.T,...,DEQ.DE,KIDS,HALO,MATW,9842.T,KVHI,MOON.L,NEO,6055.T,UNP
Date,,,,,,,,,,,,,,,,,,,,,
1999-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-11-01,1.13,1.00,1.00,1.00,1.03,1.10,1.01,1.03,1.00,1.03,...,1.00,1.00,1.00,0.93,1.00,0.99,1.00,1.00,1.00,0.84
1999-12-01,1.11,1.00,1.00,1.00,0.92,1.02,1.10,1.00,1.00,0.97,...,1.00,1.00,1.00,1.18,1.00,1.01,1.00,1.00,1.00,0.93
2000-01-01,1.02,1.00,1.00,1.00,0.96,0.88,0.89,0.73,1.00,1.00,...,1.00,1.00,1.00,0.85,1.00,1.22,1.00,1.00,1.00,0.93
2000-02-01,1.00,1.01,0.81,1.23,1.08,0.96,1.25,1.95,1.18,0.93,...,1.03,0.94,1.07,1.04,1.47,1.97,1.13,0.95,1.01,0.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-01,0.95,1.10,1.06,1.02,1.14,1.12,1.12,1.06,1.06,1.06,...,1.09,1.07,1.16,1.05,0.99,1.08,1.03,0.98,0.86,0.98
2024-06-01,1.00,0.96,0.96,0.97,0.95,0.96,0.94,0.94,0.95,1.11,...,1.07,0.91,1.18,0.89,1.01,0.90,1.19,1.01,1.14,0.98
2024-07-01,1.19,1.08,1.02,1.06,1.12,1.22,1.05,1.09,1.07,0.92,...,1.10,1.07,1.06,1.16,0.94,0.96,1.14,1.28,0.90,1.09
2024-08-01,0.96,0.78,1.06,1.08,0.98,0.98,1.03,1.07,1.10,1.06,...,0.95,1.04,1.16,0.87,0.96,1.00,0.97,0.93,0.89,1.04
2024-09-01,0.99,0.95,1.10,1.08,0.93,0.93,0.90,0.96,1.07,0.99,...,1.11,0.96,0.93,0.93,1.00,1.00,0.95,0.95,0.94,0.99